{% extends "base.html" %}
{% block title %}{{ current_workgroup }}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/manage_workgroup.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_reaction.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/printstyle.css') }}">
{% endblock %}

{% block content %}

    <body>
    <div id="container" class="container">
        <h2>Manage Workgroup</h2>
        <br>
        <p>
            <b>Workgroup Name: {{ current_workgroup }}</b>
            <!-- Add an icon for editing (using FontAwesome for the pencil icon) -->
            <i title="Rename" class="fas fa-edit" id="edit-icon" style="cursor:pointer;" onclick="showNameInput()"></i>
        </p>

        <!-- Hidden input field and label for new name -->
        <div id="name-input-container" style="display:none;">
            <label for="new-name">Enter new name:</label>
            <input type="text" id="new-name" value="{{ current_workgroup }}">
            <button class="btn btn-primary" onclick="showConfirmation()">Change</button>
        </div>

        <!-- Hidden confirmation modal (will be shown when "Change" is clicked) -->
        <div id="confirmation-modal" style="display:none;">
            <p>Confirm you want to change workgroup name from "<b>{{ current_workgroup }}</b>" to "<b
                    id="new-workgroup-name"></b>".</p>
            <button class="btn btn-danger" onclick="hideConfirmation()">Cancel</button>
            <button class="btn btn-success" onclick="submitNameChange()">Confirm</button>
        </div>

        <br>
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link {% if has_request == "no" %}active{% endif %}" role="tab" data-toggle="tab"
                   href="#overview"
                   aria-selected="{% if has_request == "no" %}true{% else %}false{% endif %}">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if has_request == "yes" %}active{% endif %}" role="tab" data-toggle="tab"
                   href="#requests"
                   aria-selected="{% if has_request == "no" %}false{% else %}true{% endif %}">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="tab" href="#add-users"
                   aria-selected="{% if has_request == "no" %}false{% else %}true{% endif %}">Add Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="tab" href="#audit-logs"
                   aria-selected="{% if has_request == "no" %}false{% else %}true{% endif %}">Audit Logs</a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Overview table-->
            <div class="tab-pane fade {% if has_request == "no" %}show active{% else %}in{% endif %}" id="overview"
                 role="tabpanel">
                <br>
                <table id="manage_workgroup_table" class="table table-bordered table-sm">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th colspan="3">
                            Actions
                        </th>
                    </tr>
                    <tr>
                        <th colspan="5">
                            Principal Investigators
                        </th>
                    </tr>
                    {% for pis in pi %}
                        <tr>
                            <td class="align-middle">
                                {{ pis.user.fullname }}
                            </td>
                            <td class="align-middle">
                                {{ pis.user.email }}
                            </td>
                            <td class="align-middle">
                                <button style="width:110px; visibility: hidden;"></button>
                            </td>
                            <td class="align-middle">
                                <button id="pi-to-sr{{ loop.index }}" value="{{ pis.user.email }}"
                                        class="btn btn-secondary"
                                        onclick="make_change('pi-to-sr{{ loop.index }}', 'pi-to-sr', 'pi')"
                                        style="width:110px;">&#8595; PI to SR
                                </button>
                            </td>
                            <td class="align-middle">
                                <button id="pi-remove{{ loop.index }}" value="{{ pis.user.email }}"
                                        class="btn btn-danger"
                                        onclick="make_change('pi-remove{{ loop.index }}', 'remove', 'pi')"
                                        style="width:250px;">Remove from Workgroup
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="5">
                            Senior Researchers
                        </th>
                    </tr>
                    {% for srs in sr %}
                        <tr>
                            <td class="align-middle">
                                {{ srs.user.fullname }}
                            </td>
                            <td class="align-middle">
                                {{ srs.user.email }}
                            </td>
                            <td class="align-middle">
                                <button id="sr-to-pi{{ loop.index }}" value="{{ srs.user.email }}"
                                        class="btn btn-primary"
                                        onclick="make_change('sr-to-pi{{ loop.index }}', 'sr-to-pi', 'sr')"
                                        style="width:110px;">&#8593; SR to PI
                                </button>
                            </td>
                            <td class="align-middle">
                                <button id="sr-to-sm{{ loop.index }}" value="{{ srs.user.email }}"
                                        class="btn btn-secondary"
                                        onclick="make_change('sr-to-sm{{ loop.index }}', 'sr-to-sm', 'sr')"
                                        style="width:110px;">&#8595; SR to SM
                                </button>
                            </td>
                            <td class="align-middle">
                                <button id="sr-remove{{ loop.index }}" value="{{ srs.user.email }}"
                                        class="btn btn-danger"
                                        onclick="make_change('sr-remove{{ loop.index }}', 'remove', 'sr')"
                                        style="width:250px;">Remove from Workgroup
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="5">
                            Standard Members
                        </th>
                    </tr>
                    {% for sms in sm %}
                        <tr>
                            <td class="align-middle">
                                {{ sms.user.fullname }}
                            </td>
                            <td class="align-middle">
                                {{ sms.user.email }}
                            </td>
                            <td class="align-middle">
                                <button id="sm-to-sr{{ loop.index }}" value="{{ sms.user.email }}"
                                        class="btn btn-primary"
                                        onclick="make_change('sm-to-sr{{ loop.index }}', 'sm-to-sr', 'sm')"
                                        style="width:110px;">&#8593; SM to SR
                                </button>
                            </td>
                            <td class="align-middle">
                            </td>
                            <td class="align-middle">
                                <button id="sm-remove{{ loop.index }}" value="{{ sms.user.email }}"
                                        class="btn btn-danger"
                                        onclick="make_change('sm-to-sr{{ loop.index }}', 'remove', 'sm')"
                                        style="width:250px;">Remove from Workgroup
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!--Requests table-->
            <div class="tab-pane fade {% if has_request == "no" %}in{% else %}show active{% endif %}" id="requests"
                 role="tabpanel">
                <br>
                {% if requests %}
                    <table id="manage_workgroup_request_table" class="table table-striped table-sm">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Current Role
                            </th>
                            <th>
                                New Role
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Decision
                            </th>
                        </tr>
                        {% for request in requests %}
                            <tr>
                                <td class="align-middle">
                                    {{ request.Person.user.fullname }}
                                </td>
                                <td class="align-middle">
                                    {{ request.Person.user.email }}
                                </td>
                                <td class="align-middle">
                                    {{ request.current_role }}
                                </td>
                                <td class="align-middle">
                                    {{ request.new_role }}
                                </td>
                                <td class="align-middle">
                                    {% set time = request.time|string %}
                                    {{ time[:-7] }}
                                </td>
                                <td class="align-middle">
                                    {% if request.current_role == "Standard Member" %}
                                        {% if request.new_role == "Senior Researcher" %}
                                            <button id="request_approve{{ loop.index }}"
                                                    value="{{ request.Person.user.email }}" class="btn btn-primary"
                                                    onclick="make_change_request('request_approve{{ loop.index }}', 'sm-to-sr', 'approve')"
                                                    style="width:110px;">Approve
                                            </button>
                                            <button id="request_deny{{ loop.index }}"
                                                    value="{{ request.Person.user.email }}" class="btn btn-primary"
                                                    onclick="make_change_request('request_deny{{ loop.index }}', 'sm-to-sr', 'deny')"
                                                    style="width:110px;">Deny
                                            </button>
                                        {% else %}
                                            <button id="request_approve{{ loop.index }}"
                                                    value="{{ request.Person.user.email }}" class="btn btn-primary"
                                                    onclick="make_change_request('request_approve{{ loop.index }}', 'sm-to-pi', 'approve')"
                                                    style="width:110px;">Approve
                                            </button>
                                            <button id="request_deny{{ loop.index }}"
                                                    value="{{ request.Person.user.email }}" class="btn btn-primary"
                                                    onclick="make_change_request('request_deny{{ loop.index }}', 'sm-to-pi', 'deny')"
                                                    style="width:110px;">Deny
                                            </button>
                                        {% endif %}
                                    {% elif request.current_role == "Senior Researcher" %}
                                        <button id="request_approve{{ loop.index }}"
                                                value="{{ request.Person.user.email }}" class="btn btn-primary"
                                                onclick="make_change_request('request_approve{{ loop.index }}', 'sr-to-pi', 'approve')"
                                                style="width:110px;">Approve
                                        </button>
                                        <button id="request_deny{{ loop.index }}"
                                                value="{{ request.Person.user.email }}" class="btn btn-primary"
                                                onclick="make_change_request('request_deny{{ loop.index }}', 'sr-to-pi', 'deny')"
                                                style="width:110px;">Deny
                                        </button>
                                    {% endif %}
                                    {% if request.current_role == "Non-Member" %}
                                        <button id="request_approve{{ loop.index }}"
                                                value="{{ request.Person.user.email }}" class="btn btn-primary"
                                                onclick="make_change_request('request_approve{{ loop.index }}', 'to-sm', 'approve')"
                                                style="width:110px;">Approve
                                        </button>
                                        <button id="request_deny{{ loop.index }}"
                                                value="{{ request.Person.user.email }}" class="btn btn-primary"
                                                onclick="make_change_request('request_deny{{ loop.index }}', 'to-sm', 'deny')"
                                                style="width:110px;">Deny
                                        </button>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>You currently have no requests.</p>
                {% endif %}
            </div>

            <!--add users tab-->
            <div class="tab-pane fade in" id="add-users" role="tabpanel">
                <br>
                <h4>Users can be added to workgroups by email or using the QR code</h4>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2">
                            <button class="btn icon" onclick="addUserByEmailModal()" style="margin-left: 18px;"><i
                                    class="bi bi-envelope-plus"></i></button>
                            <br>
                            <b>Add by email</b>
                        </div>

                        <div class="col-2">
                            <button class="btn icon" onclick="generateQRCode()" style="margin-left: 25px;"><i
                                    class="bi bi-qr-code"></i></button>
                            <br>
                            <b>Add by QR Code</b>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="current_workgroup" value="{{ current_workgroup }}">

            <!--ADD USER BY EMAIL MODAL-->
            <div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog"
                 aria-labelledby="add-user-modal-title">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="add-user-modal-title">Add New User</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div id="add-user-body">
                            <div id="add-user-inner-body">
                                <br>
                                <form id="add-user-form" action="{{ url_for('manage_workgroup.add_user_by_email') }}">
                                    <label class="new-reaction-label">
                                        User email
                                        <input id="user-email" class="new-reaction-input" name="email">
                                    </label>
                                    <b style="margin-left: 20px;"> Add User as: </b>
                                    <label class="new-reaction-label">
                                        Standard Member
                                        <input value="sm" type="radio" class="radio-input" name="user_type" checked>
                                    </label>
                                    <label class="new-reaction-label">
                                        Senior Researcher
                                        <input value="sr" type="radio" class="radio-input" name="user_type">
                                    </label>
                                    <label class="new-reaction-label">
                                        Principal Investigator
                                        <input value="pi" type="radio" class="radio-input" name="user_type">
                                    </label>
                                    <input hidden id="workgroup" value="{{ current_workgroup }}" name="workgroup">
                                </form>
                                <div style="padding-left: 5px; color: red" id="error-warning-new-reaction"></div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    id="new-reaction-data-close">Cancel
                            </button>
                            <button type="submit" form="add-user-form" class="btn btn-success"
                                    id="new-reaction-data-submit">Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--ADD USER BY QR CODE MODAL-->
            <div class="modal fade" id="qr-code-modal" tabindex="-1" role="dialog"
                 aria-labelledby="add-user-modal-title">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="qr-code-modal-title">Add User by QR Code</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div id="qr-code-body">
                            <div id="qr-code-inner-body">
                                <div id="qr-print-container" class="container-fluid text-center">
                                    <div class="container-fluid">
                                        <div class="row justify-content-center">
                                            <h3 id="qr-title" class="text-grey">{{ current_workgroup }} </h3>
                                        </div>
                                        <div class="row justify-content-center">
                                            <img id="qr-code" width="300" height="300">
                                        </div>
                                        <div class="row justify-content-center">
                                            <h5 id="qr-prompt" class="text-grey">Scan here to be added to the
                                                Workgroup!</h5>
                                            <p id="qr-expiry" class="text-grey">Expires on: {{ qr_code_expiration }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="qr-cancel">Cancel
                            </button>
                            <button type="button" class="btn btn-success" id="qr-print" onclick="printQRCode()">Print
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--audit log tab-->
            <div class="tab-pane fade in" id="audit-logs" role="tabpanel">
                <div id="audit-logs-section" class="card my-5 shadow-sm rounded-3">
                    <div class="card-header bg-light d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">Generate Audit Logs</h4>
                    </div>

                    <div class="card-body">
                        <form id="audit-logs-form" action="{{ url_for('audit_log.download_audit_logs', workgroup=current_workgroup) }}">

                            <div class="mb-4">
                                <label class="form-label mb-2" style="font-weight: 600;">Topic:</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="topic" id="reaction-history" value="reaction_editing_history_compressed" checked>
                                    <label class="form-check-label" for="reaction-history">Reaction Edit History</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="topic" id="data-access" value="data_access_history">
                                    <label class="form-check-label" for="data-access">Data Access History</label>
                                </div>
{#                                <div class="form-check form-check-inline">#}
{#                                    <input class="form-check-input" type="radio" name="topic" id="data-export" value="export">#}
{#                                    <label class="form-check-label" for="data-export">Data Export History</label>#}
{#                                </div>#}
                            </div>

                            <div class="mb-4">
                                <label class="form-label mb-2" style="font-weight: 600;">Date Range:</label>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="start-date">Start Date</label>
                                        <input type="date" id="start_date" name="start_date" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="end-date">End Date</label>
                                        <input type="date" id="end_date" name="end_date" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <p id="date_error" style="color: red; display: none;">End date cannot be before start date.</p>

                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Generate Logs</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
