Compound_database/.idea/*
Compound_database/venv/*
Compound_database/Checksum
Compound_database/Pubchem-Database
*.pyc
*.sqlite
/Compound_database/Pubchem-update
/Compound_database/Pubchem_Update_db.xml
.idea/
Compound_database/.DS_Store
Checksum-new
Download-Date.txt
.DS_Store
.python-version
.vscode

.env
__pycache__/
*.xml
Pubchem-Database
Pubchem-update
*.eml
pytest-coverage.txt
.coverage
/.mypy_cache/
