azure-core
azure-identity
azure-storage-blob
beautifulsoup4
ChemSpiPy
click
email-validator
Flask
Flask-Login
Flask-Mail
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
lxml
marshmallow-sqlalchemy
pandas
plotly
pre-commit
psycopg2-binary
puremagic
pytest
pyyaml
python-dateutil
python-dotenv
python-magic
pytz
rdkit
requests
selenium
WTForms
