{% extends "base.html" %}
{% block content %}
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/export_data.js') }}"></script>
    <title>Data Export Request</title>
</head>
  <div class="container text-center">
    <h3 class="mt-3 mb-4">Data Export Request</h3>
    <div class="request-info">
      <hr> <!-- Horizontal rule to separate sections -->
      <strong>Request Details:</strong>
      <p>
        <strong>Date made:</strong> {{ data_export_request.time_of_request.strftime('%d-%B-%Y %H:%M:%S') }}
      </p>
      <p>
        <strong>Workgroup:</strong> {{ data_export_request.WorkGroup.name }}
      </p>
      <p>
        <strong>Workbooks:</strong> {{ workbooks }}
      </p>
      <p>
        <strong>Number of Reactions:</strong> {{ data_export_request.reactions|length }}
      </p>
      <p>
        <strong>Format:</strong> {{ data_export_request.data_format.value }}
      </p>
      <hr> <!-- Horizontal rule to separate sections -->
      <p>
        <strong>Requestor Information:</strong>
      </p>
      <div class="ml-3">
        <p>
          <strong>Name:</strong> {{ data_export_request.requestor_person.user.fullname }}
        </p>
        <p>
          <strong>Email:</strong> {{ data_export_request.requestor_person.user.email }}
        </p>
        <p>
          <strong>Username:</strong> {{ data_export_request.requestor_person.user.username }}
        </p>
        <p>
          <strong>Verified User Email:</strong> {{ data_export_request.requestor_person.user.is_verified }}
        </p>
      </div>
    </div>
        <div id="data-export-request-buttons" class="mt-5">
            <button id="request_approve" value="{{ data_export_request.id }}" class="btn btn-success mr-5" onclick="dataExportRequestApprove(this.value)" style="width:110px;">Approve</button>
            <button id="request_deny" value="{{ data_export_request.id }}" class="btn btn-danger ml-5" onclick="dataExportRequestDeny(this.value)" style="width:110px;">Deny</button>
        </div>
    </div>
</div>
{% endblock %}
