{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<head>
    <!-- Adjust to suit -->
    <title>Accessibility statement for AI4GREEN</title>
    <style>
        main {
            width: 50em;
            border: 1px lightgray solid;
            margin: 0 auto;
            padding: 1em;
            font-size: 1.5em;
        }

        .a11y_impact_list li:first-child {
            padding-top: 0;
        }

        .a11y_impact_list li {
            padding: 0.5em 0;
        }

        .a11y_specifics_list strong {
            color: #333333;
        }

        .a11y_specifics_list li {
            margin-bottom: 2em;
        }

        .a11y_specifics_list li p {
            margin-left: 1.5em;
        }
    </style>
</head>

    <main>
        <div>

            <div>


                <!-- <div>
        <p>This is a sample accessibility statement for a fictional public sector website. It contains sample wording
          and guidance on what to include in your statement.</p>

        <p>It is based on the <a href="https://www.gov.uk/guidance/model-accessibility-statement"
            class="govuk-link">model accessibility statement</a> which is the minimum legal wording for what needs to be
          included.</p>

        <div class="call-to-action">
          <p>If the statement is for an app, say ‘mobile application’ instead of ‘website’.</p>

          <p>For websites, publish the statement as a normal HTML page. Make sure it’s linked to from a prominent place
            on the homepage or from every page on the website in a consistent place like the website footer. Make sure
            it’s in an accessible format that everyone can use.</p>

          <p>For mobile apps, make the statement available in the app store, on your website or both. It is also
            advisable that users can get to the statement from within the app.</p>
        </div> -->

                <h2>Accessibility statement for AI4Green
                    <br>( https://ai4green.app/ )
                </h2>

                <div>
                    <!-- <p>[Note: you can have a single accessibility statement that covers multiple domains, or a separate statement
            for each domain or subdomain. As long as the user can access relevant accessibility information easily from
            any page on your website.</p>

          <p>For mobile apps also include the application’s version information and publication date.</p>

          <p>This wording is legally required and must not be changed.]</p>
        </div> -->

                    <p>This accessibility statement applies to the <strong>AI4Green website
                            only</strong> and
                        applies to pages
                        under
                        the following
                        domain <strong>ai4green.app</strong></p>

                    <div>
                        <!-- <p>[Note: use this section to make a brief, general statement about what the website allows disabled users to
            do. Base it on the evaluation covered in detail in the ‘Technical information about this website’s
            accessibility’ section.</p>

          <p>It must be specific to your own website. If you’re not confident that something is accurate, leave it out.
            If you’re not confident enough to say anything specific here, leave this section out completely.]</p>
        </div> -->

                        <p>This website is run by the University of Nottingham. We want as many people as possible to be
                            able to use
                            this
                            website. For example, that means you should be able to:</p>

                        <ul>
                            <li>change colours, contrast levels and fonts using browser or device settings</li>
                            <li>zoom in up to 400% without the text spilling off the screen</li>
                            <li>navigate most of the website using a keyboard or speech recognition software</li>
                            <li>listen to most of the website using a screen reader (including the most recent versions
                                of JAWS, NVDA
                                and
                                VoiceOver)</li>
                        </ul>

                        <!-- <p>We’ve also made the website text as simple as possible to understand.</p> -->

                        <p><a rel="external" href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a>
                            has advice on
                            making your device easier to use if you have a disability.</p>

                        <h3 id="how-accessible-this-website-is">How accessible this website is</h3>

                        <!-- <div class="call-to-action">
            <p>

            [Note: use this section to provide a summary of accessibility issues that a disabled user can act on -
              for
              example, avoid a particular section of the website, or request an alternative version rather than waste
              time
              trying to make it work with their assistive technology. Try to list in order of ** most impact ** to least
              impact.]</p>
          </div> -->

                        <p>We know some parts of this website are not fully accessible.</p>

                        <ul class="a11y_impact_list">

                            <li>Some user interface components are not fully operable using a keyboard alone and
                                some do not have a clearly visible focus indicator.</li>

                            <li>Not all user interface components have accessible descriptions, which may cause issues
                                for users of assistive technology.</li>

                            <li>Some images lack accessible descriptions and some complex images have accessible
                                descriptions which do not provide enough detail to fully understand what the image
                                portrays.</li>

                            <li>Some images contain text, and users of assistive technology may not be able to fully
                                understand the image's content from its accessible description alone.</li>

                            <li>The text on a number of buttons does not have sufficient contrast against their
                                backgrounds which may cause issues for users with vision deficiencies.</li>

                            <li>Some hyperlinks rely on color alone to distinguish themselves, which may make them
                                difficult to recognize for users with colour vision deficiencies.</li>

                            <li>The auto-generated captions for an embedded YouTube video do not fully or accurately
                                describe the video content, and an audio description is not available.</li>

                            <li>On some pages, when the content updates or changes the change will not be announced to
                                assistive technologies. This includes status alert messages.</li>

                            <li>Most pages do not have a mechanism to skip to the main content, which may affect
                                keyboard-only users.</li>

                            <li>Some page content becomes inaccessible or obscured when zooming in to 200%. Some
                                content may be hidden or partially obscured
                                when text spacing is increased above the default settings.</li>

                            <li>Many pages may not be usable on small screens, such as mobile phones, due to overlapping
                                content or content that does not resize appropriately to fit the screen.</li>

                        </ul>


                        <h3 id="feedback-and-contact-information">Feedback and contact information ( * TBC * )</h3>

                        <p>If you need information on this website in a different format like accessible PDF, large
                            print, easy
                            read, audio recording or braille:</p>

                        <ul>
                            <!-- <li><a title="Request support" class="sys_16"
                                    href="https://www.wrike.com/frontend/requestforms/index.html?token=eyJhY2NvdW50SWQiOjU1OTE2OTQsInRhc2tGb3JtSWQiOjc0MjAwNX0JNDgxODU1NjMyMjUyOQllNjc1Zjg3ZjI4MmE5ZTNkZTk0ZGYzODZiNTkwZDBkOTU1ZmM1ODc0NDQ1YTUxZjJhNzE2ZGExZjczNjgwYjhl">Raise
                                    a request</a></li> -->
                            <li>
                                <a href="mailto:ai4green@nottingham.ac.uk?subject=Request%20for%20alternative%20format%20information&body=I%20would%20like%20to%20request%20some%20information%20that%20is%20available%20on%20https%3A%2F%2Fai4green.app%2F%20in%20a%20different%20format.%0A%0AI%20have%20included%20full%20details%20below.%0A%0A%E2%80%A2%20Information%20required%20including%20URL(s)%3A%20%5BPlease%20complete%5D%0A%E2%80%A2%20I%20would%20like%20this%20information%20in%20the%20following%20format%3A%20%5BPlease%20state%20format%20required%5D"
                                    aria-label="Send an email requesting alternative format information from ai4green@nottingham.ac.uk">
                                    Contact AI4Green for information in an alternative format
                                </a>
                            </li>

                            <li>
                                <span aria-hidden="true">*</span>
                                <span class="visually-hidden">To be confirmed if this should be included:</span>
                            </li>




                        </ul>

                        <p>We’ll then consider your request and get back to you within 10 working days.</p>



                        <h3 id="enforcement-procedure">Enforcement procedure</h3>

                        <!-- Note: this wording is legally required and must not be changed  -->

                        <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public
                            Sector Bodies
                            (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the
                            ‘accessibility
                            regulations’).
                            If you’re not happy with how we respond to your complaint, <a rel="external"
                                href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality
                                Advisory and
                                Support
                                Service (EASS)</a>.</p>

                        <!-- <div class="call-to-action">
              <p>[Note: if your organisation is based in Northern Ireland, refer users who want to complain to the <a
                  rel="external" href="https://www.equalityni.org/Home" class="govuk-link">Equality Commission for
                  Northern
                  Ireland (ECNI)</a> instead of the EASS and EHRC.</p>

              <p>You must link to either the EASS or ECNI websites.]</p>
            </div> -->

                        <h2 id="technical-information-about-this-websites-accessibility">Technical information about
                            this website’s
                            accessibility</h2>

                        <!-- <div class="call-to-action">
              <p>[Note: this wording is legally required and must not be changed.] ( Except name of organisation ) </p>
            </div> -->
                        <p>The [ University of Nottingham ] is committed to making its website accessible, in accordance
                            with the Public
                            Sector
                            Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

                        <h3 id="compliance-status">Compliance status</h3>

                        <!-- <p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) [2.1 or 2.2] AA
              standard.
            </p>             -->
                        <p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA
                            standard.
                        </p>

                        <div class="call-to-action">
                            <!-- <p>[Note: say that the website is fully compliant if the website meets the Web Content Accessibility
                Guidelines (WCAG) [2.1 or 2.2] AA standard in full.</p>

              <p>Say that it’s partially compliant if it meets most requirements of the WCAG [2.1 or 2.2] AA standard.
              </p>

              <p>If it does not meet most requirements of the WCAG [2.1 or 2.2] AA standard, say that it’s not
                compliant.
              </p>

              <p>If your website is either partially compliant or not compliant with the WCAG [2.1 or 2.2] AA standard,
                you’ll need to explain why. This will be due to one or both of the following:</p>

              <ul>
                <li>non-compliances - this means the content in question is in scope of the regulations, but there’s an
                  accessibility problem with it</li>
                <li>an exemption - this means the inaccessible content is out of scope of the regulations, or it’d be a
                  disproportionate burden for you to make it accessible</li>
              </ul>

              <p>There’s a legally required way of expressing the compliance status of your website, so do not change
                it.
                Choose one of the options below, for example (a), (b) or (c), and delete those not applicable.</p>
            </div>

            <p>[Select (a) only if all requirements of the technical specification are fully met without exceptions for
              WCAG
              2.1 or WCAG 2.2.]</p>

            <p>(a) This website is fully compliant with the [<a rel="external" href="https://www.w3.org/TR/WCAG21/"
                class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard or <a rel="external"
                href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version
                2.2</a>
              AA standard].</p>

            <p>[Select (b) if most requirements of the technical specification are met, but with some exceptions. This
              means
              not yet fully compliant and that the necessary measures are to be taken in order to reach full
              compliance.]
            </p>

            <p>(b) This website is partially compliant with the [<a rel="external" href="https://www.w3.org/TR/WCAG21/"
                class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard or <a rel="external"
                href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version
                2.2</a>
              AA standard], due to [insert one of the following: ‘the non-compliances’, ‘the exemptions’ or ‘the
              non-compliances and exemptions’] listed below.</p>

            <p>[Select (c) if most requirements of the technical specification are not met.]</p> -->

                            <p>This website is not compliant with the <a rel="external"
                                    href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility
                                    Guidelines version
                                    2.2</a>
                                AA standard.
                                <!-- The [insert one of the following: ‘non-compliances’, ‘exemptions’ or ‘non-compliances and
              exemptions’] are listed below. -->
                                The non-compliances are listed below.
                            </p>

                            <h2 id="non-accessible-content">Non-accessible content</h2>

                            <div class="call-to-action">
                                <!-- <p>[Note: if the website is fully compliant with the standard, you can leave the ‘Non-accessible
                  content’
                  section out.</p> -->

                                <!-- <p>Otherwise, do not change the ‘Non-accessible content’ heading or the ‘The content listed below is
                  non-accessible for the following reasons’ sentence - they’re legally required.</p>

                <p>Do not change the ‘Non-compliance with the accessibility regulations’, ‘Disproportionate burden’ and
                  ‘Content that’s not within the scope of the accessibility regulations’ subheadings: they’re also
                  legally
                  required.</p>

                <p>But if you need to list a lot of problems, you can break these subsections up with further
                  subheadings
                  -
                  for example, ‘Navigation and accessing information’ or ‘Interactive tools and transactions’.]</p>
              </div>

              <p>The content listed below is non-accessible for the following reasons.</p> -->

                                <p>The content listed below is non-accessible for the following reasons.</p>

                                <h3 id="non-compliance-with-the-accessibility-regulations">Non-compliance with the
                                    accessibility
                                    regulations
                                </h3>

                                <!-- <div class="call-to-action" style="background-color: beige;">
                  <p>[Note: In this subsection, list:</p>

                  <ul>
                    <li>accessibility problems</li>
                    <li>which of the WCAG success criteria the problem fails on</li>
                    <li>when you plan to fix the problem</li>
                  </ul>

                  <p>Do not include any problems where you’re claiming disproportionate burden, or where the problem is
                    outside
                    the scope of the accessibility regulations (those should go in the subsections below).</p>

                  <p>These are examples only. Your statement must be specific to your website.]</p>
                </div> -->

                                <!-- A11y Issues -->
                                <ul class="a11y_specifics_list">
                                    <li>
                                        <p><strong>Some images lack text alternatives, preventing people using assistive
                                                technologies from understanding their meaning. Additionally, some images
                                                contain text, making their content inaccessible to these users.</strong>
                                        </p>

                                        <p>This fails WCAG 2.2 success criteria 1.1.1 (Non-text Content) and 1.4.5
                                            (Images of Text), respectively.</p>

                                        <p>We plan to address these issues (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>An embedded video has automatically generated captions which do not
                                                accurately describe the content of the media.

                                                Additionally the video has no audio description and the content of the
                                                video is not fully described by the audio commentary.</strong></p>

                                        <p>This fails WCAG 2.2 success criteria 1.2.2: Captions (Prerecorded), 1.2.3:
                                            Audio
                                            Description or Media Alternative (Prerecorded) and 1.2.5: Audio Description
                                            (Prerecorded).</p>

                                        <p>We plan to fix these issues (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>Information, structure, and relationships conveyed through
                                                presentation can not always be programmatically determined or are
                                                available in
                                                text. For instance, some form labels are not correctly bound to their
                                                respective form inputs.

                                            </strong></p>

                                        <p>This fails WCAG 2.2 success criterion 1.3.1: Info and Relationships.</p>

                                        <p>We plan to fix these issues (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>A user interface icon "i" ( which can render popover information
                                                ) assumes that users will associate it with "information." However this
                                                user interface element does not provide an accessible
                                                alternative for users who may not perceive visual cues.
                                            </strong></p>

                                        <p>This fails WCAG 2.2 success criterion 1.3.3: Sensory Characteristics.</p>

                                        <p>We plan to fix these issues (<em>timeline to be confirmed</em>).</p>
                                    </li>
                                    <li>
                                        <p><strong>The purpose of some form fields ( which serve a purpose identified in
                                                the Input
                                                Purposes for
                                                User Interface Components)
                                                cannot be programmatically determined.

                                            </strong></p>

                                        <p>This fails WCAG 2.2 success criterion 1.3.5: Identify Input Purpose.</p>

                                        <p>We plan to fix these issues (<em>timeline to be confirmed</em>).</p>
                                    </li>
                                    <li>
                                        <p><strong>A number of links rely solely on colour to distinguish themselves as
                                                clickable elements.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 1.4.1: Use of Color.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>A large number of user interface components, such as buttons, have
                                                insufficient text-to-background contrast and do not meet the minimum
                                                required ratio. Additionally, some user interface components fail to
                                                maintain
                                                a contrast ratio of at least 3:1 against adjacent colors.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 1.4.3: Contrast (Minimum) and 1.4.11:
                                            Non-text Contrast respectively.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>Some text and user interface components, such as buttons, are
                                                partially obscured, not visible, or overlapped by other content at 200%
                                                zoom level.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 1.4.4: Resize text.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>
                                    <li>
                                        <p><strong>Some content cannot be presented without loss of information or
                                                functionality, or without requiring scrolling in two dimensions
                                                for:</strong></p>

                                        <ul style="list-style-type: disc; padding-left: 2em; margin: 0;">
                                            <li style="margin-bottom: 0;">Vertical scrolling content at a width
                                                equivalent to 320 CSS pixels;</li>
                                            <li style="margin-top: 0;">Horizontal scrolling content at a height
                                                equivalent to 256 CSS pixels.</li>
                                        </ul>

                                        <p>This fails WCAG 2.2 success criterion 1.4.10: Reflow.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>Some content may be obscured or truncated when text spacing and/or
                                                line height is adjusted.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 1.4.12: Text Spacing.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>The "i" information popover displays help content on mouse hover;
                                                however, there is no mechanism to dismiss the content without moving the
                                                mouse away.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 1.4.13: Content on Hover or Focus.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>Some functionality of the website is not operable through a keyboard
                                                interface alone. This includes Ketcher, the chemical structure
                                                editor.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 2.1.1: Keyboard.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>The home page has a continuous animation on an arrow symbol with no
                                                mechanism for the user to pause, stop, or hide it.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 2.2.2: Pause, Stop, Hide.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>The website lacks a "Skip to Content" feature to bypass repeated
                                                blocks of content across multiple pages..</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 2.4.1: Bypass Blocks.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>A number of web pages do not have titles that describe topic or
                                                purpose.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 2.4.2: Page Titled.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>The purpose of a link cannot be determined from the link text alone
                                                or from the link text together with its programmatically determined link
                                                context.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 2.4.4: Link Purpose (In Context).</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>The website does not implement breadcrumb navigation trails or a site
                                                map.
                                            </strong></p>

                                        <p>This fails WCAG 2.2 success criterion 2.4.5: Multiple Ways.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>Some headings or labels do not accurately describe their topic or
                                                purpose.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 2.4.6: Headings and Labels.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>The visible focus outline of a button is not fully rendered within
                                                the viewable area of the page.</strong></p>

                                        <p>This fails WCAG 2.2 success criteria 2.4.7: Focus Visible and 2.4.11: Focus
                                            Not Obscured (Minimum).</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <!-- Not included 2.5.7 below pending clarification as marked "Cannot tell" in WCAG reciew -->
                                    <!-- <li>
                                        <p><strong>An interactive component (Interactive Retrosynthesis Display) allows
                                                repositioning of visual elements which required dragging but this can
                                                only be done using a
                                                mouse.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 2.5.7: Dragging Movements.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li> -->

                                    <li>
                                        <p><strong>
                                                Changing the setting of some interface components can cause a change of
                                                context on the page, which has not been previously advised to the
                                                user.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 3.2.2: On Input.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>The home page has both a "Sign in" and a "Log in" button, where both
                                                actions are not consistently identified but perform the same
                                                function.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 3.2.4: Consistent Identification.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>Some form input errors are ambiguous and not described in sufficient
                                                detail
                                                to the user.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 3.3.1: Error Identification.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>A number of forms have labels not programatically bound to their
                                                field inputs or rely on placeholder attributes alone.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 3.3.2: Labels or Instructions.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                    <li>
                                        <p><strong>Some form validation errors are ambiguous and may not be described in
                                                sufficient detail for the user to know how to fix them.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 3.3.3: Error Suggestion.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>


                                    <li>
                                        <p><strong>A form allowing a change of email address does not have a mechanism
                                                for reviewing, confirming, or correcting information before
                                                submission.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 3.3.4: Error Prevention (Legal,
                                            Financial, Data) .</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>


                                    <li>
                                        <p><strong>A number of user interface components have names or roles that cannot
                                                be programmatically determined, are missing, or have invalid ARIA
                                                attributes.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 4.1.2: Name, Role, Value.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>


                                    <li>
                                        <p><strong>Some status messages are not announced to assistive
                                                technology.</strong></p>

                                        <p>This fails WCAG 2.2 success criterion 4.1.3: Status Messages.</p>

                                        <p>We plan to fix this issue (<em>timeline to be confirmed</em>).</p>
                                    </li>

                                </ul>

                                <!-- <div style="background-color: beige;">
                <h3 id="disproportionate-burden" style="background-color: beige;">Disproportionate burden</h3>

                <div class="call-to-action">
                  <p>[Note: in this subsection list accessibility problems you’re claiming would be a disproportionate
                    burden
                    to
                    fix.</p>

                  <p>You must carry out <a
                      href="https://www.gov.uk/guidance/public-sector-website-and-mobile-application-accessibility-monitoring#disproportionate-burden-claims-and-assessment"
                      class="govuk-link">an assessment</a> before claiming disproportionate burden.</p>

                  <p>Bear in mind that something which is a disproportionate burden now will not necessarily be a
                    disproportionate burden forever. If the circumstances change, your ability to claim disproportionate
                    burden
                    may change too.</p>

                  <p>These are examples only. Your statement should be specific to your website.]</p>
                </div>

                <h4 id="navigation-and-accessing-information">Navigation and accessing information</h4>

                <p>There’s no way to skip the repeated content in the page header (for example, a ‘skip to main content’
                  option).</p>

                <p>It’s not always possible to change the device orientation from horizontal to vertical without making
                  it
                  more
                  difficult to view the content.</p>

                <p>It’s not possible for users to change text size without some of the content overlapping.</p>

                <p>We’ve assessed the cost of fixing the issues with navigation and accessing information. We believe
                  that
                  doing
                  so now would be a disproportionate burden within the meaning of the accessibility regulations. We will
                  make
                  another assessment when the supplier contract is up for renewal, likely to be in [rough timing].</p>

                </div> -->

                                <!-- <h3 id="content-thats-not-within-the-scope-of-the-accessibility-regulations">Content that’s not within
                  the
                  scope
                  of the accessibility regulations</h3>

                <div class="call-to-action">
                  <p>[Note: in this subsection list accessibility problems that fall outside the scope of the
                    accessibility
                    regulations.]</p>
                </div>

                <h4 id="pdfs-and-other-documents">PDFs and other documents</h4>

                <p>The accessibility regulations do not require us to fix PDFs or other documents published before 23
                  September
                  2018 if they’re not essential to providing our services. For example, we do not plan to fix [example
                  of
                  non-essential document].</p>

                <p>Any new PDFs or Word documents we publish will meet accessibility standards.</p>

                <h4 id="live-video">Live video</h4>

                <p>We do not plan to add captions to live video streams because live video is exempt from meeting the
                  accessibility regulations.</p> -->

                                <!-- <h2 id="what-were-doing-to-improve-accessibility">What we’re doing to improve accessibility</h2>

                <div class="call-to-action">
                  <p>[Note: publishing an accessibility roadmap is optional. It’s a good idea to publish one if you want
                    to
                    be
                    specific about the order you’re planning to tackle accessibility issues, and there’s no space to do
                    so
                    in
                    the accessibility statement itself.]</p>
                </div>

                <p>Our accessibility roadmap [add link to roadmap] shows how and when we plan to improve accessibility
                  on
                  this
                  website.</p> -->

                                <h2 id="preparation-of-this-accessibility-statement">Preparation of this accessibility
                                    statement</h2>

                                <!-- <div class="call-to-action" style="background-color: beige;">
                                    <p>[Note: the wording about when the statement was prepared and reviewed is
                                        required.</p>

                                    <p>It is recommended that an audit be carried out following a substantial revision
                                        to your website.
                                        The
                                        statement must also be updated.</p>

                                    <p>The statement must be reviewed at least once a year, even if there have not been
                                        significant
                                        changes
                                        to
                                        the
                                        website. Include the date of the last review.]</p>
                                </div> -->

                                <p>This statement was prepared on <strong>28th March 2024</strong>. It was last
                                    reviewed on <strong>28th March 2024</strong>.</p>

                                <p>This website was last tested on <strong>26th March 2024</strong> against the
                                    WCAG 2.2 AA
                                    standard.</p>

                                <div class="call-to-action">
                                    <p>A self-assessment of this website was performed using a combination of automated
                                        and manual accessibility test practices across a
                                        subset of pages and typical functions.
                                        The assessment used a range of browser plugins and Chrome browser devtools for
                                        analysis.
                                    </p>
                                </div>

                                <p>The assessment was carried out by an in-house web developer employed by the
                                    University of Nottingham and
                                    was carried out to the WCAG 2.2 AA standard.</p>

                                <!-- <div class="call-to-action" style="background-color: beige;">
                                    <p>[Note: publishing the test report is optional but doing so may allow you to make
                                        your accessibility
                                        statement shorter and more focused.]</p>
                                </div>

                                <p>You can read the full accessibility test report [add link to report].</p> -->
                            </div>


                        </div>
                    </div>
    </main>
{% endblock %}
