<p>Dear {{ user.username }},</p>

<p>The following user: {{ data_export_request.requestor_person.user.fullname }} has requested to export data from a workgroup you are a principal investigator of.</p>

<p>
    To accept or deny this request click on the following link:
    <a href="{{ url_for('export_data.export_data_request_response', token=token, _external=True, _scheme='protocol') }}">
        click here.</a>
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('export_data.export_data_request_response', token=token, _external=True, _scheme='protocol') }}</p>
<p>If you do not respond, this request will expire in 7 days and the data will not be exported.</p>
<p>Sincerely,</p>
<p>The AI4Green Team</p>
