<div class="div_before_table">
    <br>
    <h3>Amide Bond Formation</h3>
    <p>Amide bond formation is a condensation reaction between carboxylic acids and amines. Typically, a coupling agent and
    base are required. </p>
    <br><br>
    <div style="text-align: center;">
    <img alt="Amide Bond Formation Reaction Scheme" style="width: 70%" src="{{url_for('static', filename='img/solvent_PCA_reactions/amide_bond_formation.svg')}}">
    </div>
    <br><br>
    This class of reaction can be carried out in a range of solvents including dipolar aprotic and chlorinated solvents.
    Important solvent properties are highly dependent on the process.
    For example, in solid phase peptide synthesis the solvent must be capable of swelling the resin and dissolving reactants and coupling reagents.
    The full range of descriptors were selected in the PCA map to encompass this complexity.
    <br><br>
    <table class="table table-sm table-bordered">
        <tr>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Molecular Weight (g/mol)'>Molecular Weight</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Density (g/cm<sup>3</sup>)'>Density</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Calculated Molar Volume (cm<sup>3</sup>/mol)'>Molar Volume</a>
            </td>
        </tr>
        <tr>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Boiling Point (&#8451;)'>Boiling Point</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Refractive Index'>Refractive Index</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Dynamic Viscosity (cP)'>Viscosity</a>
            </td>
        </tr>
        <tr>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Vapour Pressure (mmHg)'>Vapour Pressure</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Octanol-Water Partition Coefficient'>LogP</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Measured Dipole Moment (DeBye)'>Dipole Moment</a>
            </td>
        </tr>
        <tr>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Measured Dielectric Constant'>Dielectric Constant</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Hydrogen Bond Donor Ability'>Kamlet-Taft &alpha;</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Hydrogen Bond Acceptor Ability'>Kamlet-Taft &beta;</a>
            </td>
        <tr>
        <td>
            <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Polarizability'>Kamlet-Taft &pi;<sup>*</sup></a>
        </td>
        <td>
            <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Hansen Solubility Parameter Describing Dispersion'>Dispersion <i>&delta;<sub>d</sub></i></a>
        </td>
        <td>
            <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Hansen Solubility Parameter Describing Dipolar Interactions'>Polarity <i>&delta;<sub>p</sub></i></a>
        </td>
    </tr>
        <tr>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Hansen Solubility Parameter Describing Hydrogen Bonding'>Hydrogen Bonding <i>&delta;<sub>h</sub></i></a>
            </td>
        </tr>
    </table>
    <br>
    <h4>Experimental Data</h4>
    <h5>Amide Coupling 1</h5>
    A study by <a href="https://doi.org/10.1039/C2GC36900A" target="_blank">Macmillan <i>et al.</i></a>,<sup>1</sup> monitored the effect of solvent on % conversion of the reaction below after 4 hours.
    This data can be viewed by selecting <b>Amide Coupling 1</b> in the Change Colour dropdown.
    <br><br>
    <div style="text-align: center;">
    <img alt="Amide Bond Formation Reaction Scheme" style="width: 90%" src="{{url_for('static', filename='img/solvent_PCA_reactions/amide_bond_formation1.svg')}}">
    </div>
    <br><br>
    <h5>Amide Coupling 2</h5>
    A different amide bond formation reaction was studied by
    <a href="https://doi.org/10.1248/cpb.c13-00368" target="_blank">Kunishima et al.</a><sup>2</sup>
    The % yield was measured for a range of solvents.
    This data can be viewed by selecting <b>Amide Coupling 2</b> in the Change Colour dropdown.
    <br><br>
    <div style="text-align: center;">
    <img alt="Amide Bond Formation Reaction Scheme" style="width: 90%" src="{{url_for('static', filename='img/solvent_PCA_reactions/amide_bond_formation2.svg')}}">
    </div>
    <br><br>
    <h4>References</h4>
    <p style="font-size: 11px">
        1. MacMillan DS, Murray J, Sneddon HF, Jamiesona C, Watson AJ. Evaluation of alternative solvents in common amide
        coupling reactions: replacement of dichloromethane and N, N-dimethylformamide. Green Chem. 2013;15:596-600.
        <a href="https://doi.org/10.1039/C2GC36900A" target="_blank">https://doi.org/10.1039/C2GC36900A</a>.
        <br>
        2. Kunishima M, Kitamura M, Tanaka H, Nakakura I, Moriya T, Hioki K. Study of 1, 3, 5-triazine-based catalytic
        amide-forming reactions: Effect of solvents and basicity of reactants. Chemical and Pharmaceutical Bulletin.
        2013 Aug 1;61(8):882-6. <a href="https://doi.org/10.1248/cpb.c13-00368" target="_blank">https://doi.org/10.1248/cpb.c13-00368</a>.
    </p>
    <h4>Further Reading</h4>
    <p style="font-size: 11px">
        1. Kumar A, Sharma A, de la Torre BG, Albericio F. Scope and limitations of γ-valerolactone (GVL) as a green solvent
        to be used with base for fmoc removal in solid phase peptide synthesis. Molecules. 2019 Nov 5;24(21):4004.
        <a href="https://doi.org/10.3390/molecules24214004" target="_blank">https://doi.org/10.3390/molecules24214004</a>.
        <br>
        2. Jad YE, Govender T, Kruger HG, El-Faham A, de la Torre BG, Albericio F. Green solid-phase peptide synthesis
        (GSPPS) 3. Green solvents for Fmoc removal in peptide chemistry. Organic Process Research & Development.
        2017 Mar 17;21(3):365-9.
        <a href="https://doi.org/10.1021/acs.oprd.6b00439" target="_blank">https://doi.org/10.1021/acs.oprd.6b00439</a>.
        <br>
        3. Lopez J, Pletscher S, Aemissegger A, Bucher C, Gallou F. N-butylpyrrolidinone as alternative solvent for
        solid-phase peptide synthesis. Organic process research & development. 2018 Mar 14;22(4):494-503.
        <a href="https://doi.org/10.1021/acs.oprd.7b00389" target="_blank">https://doi.org/10.1021/acs.oprd.7b00389</a>.
        <br>
        4. Wilson KL, Murray J, Jamieson C, Watson AJ. Cyrene as a bio-based solvent for HATU mediated amide coupling.
        Organic & Biomolecular Chemistry. 2018;16(16):2851-4.
        <a href="https://doi.org/10.1039/C8OB00653A" target="_blank">https://doi.org/10.1039/C8OB00653A</a>.
        <br>
        5. Jad YE, Acosta GA, Khattab SN, de la Torre BG, Govender T, Kruger HG, El-Faham A, Albericio F. Peptide
        synthesis beyond DMF: THF and ACN as excellent and friendlier alternatives. Organic & biomolecular chemistry.
        2015;13(8):2393-8.
        <a href="https://doi.org/10.1039/C4OB02046D" target="_blank">https://doi.org/10.1039/C4OB02046D</a>.
        <br>
        6. Jordan A, Hall CG, Thorp LR, Sneddon HF. Replacement of less-preferred dipolar aprotic and ethereal solvents
        in synthetic organic chemistry with more sustainable alternatives. Chemical Reviews. 2022 Feb 24;122(6):6749-94.
        <a href="https://doi.org/10.1021/acs.chemrev.1c00672" target="_blank">https://doi.org/10.1021/acs.chemrev.1c00672</a>.
        <br>
        7. Procopio D, Siciliano C, Trombino S, Dumitrescu DE, Suciu F, Di Gioia ML. Green solvents for the formation of
        amide linkages. Organic & Biomolecular Chemistry. 2022;20(6):1137-49.
        <a href="https://doi.org/10.1039/D1OB01814K" target="_blank">https://doi.org/10.1021/10.1039/D1OB01814K</a>.
    </p>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
