<div class="div_before_table">
    <br>
    <h3>Baylis-Hillman</h3>
    <p> The Baylis-Hillman reaction forms a carbon-carbon bond between an electrophilic alkene and a carbonyl compound, usually in
        the presence of a catalytic nucleophile. Tertiary amines or phosphines can be used to catalyse these reactions.
    </p>
    <br><br>
    <div style="text-align: center;">
    <img alt="Baylis Hillman Reaction Scheme" style="width: 70%" src="{{url_for('static', filename='img/solvent_PCA_reactions/baylis_hillman_general.svg')}}">
    </div>
    <br><br>
    <a href="https://pubs.acs.org/doi/10.1021/ja0717865" target="_blank">Computational investigations</a><sup>1</sup> into the mechanism of the Baylis-Hillman reaction have
    showed that polar protic solvents aid the formation of important reaction intermediates, though they increase the activation energy for proton transfer.
    Other studies have highlighted the benefit of using solvents with
    <a href="https://pubs.acs.org/doi/full/10.1021/jo016073y" target="_blank">H-bonding character</a><sup>2</sup> and
    <a href="https://www.sciencedirect.com/science/article/pii/S0040403908014299" target="_blank">high dielectric constants</a><sup>3</sup>
    for increasing the rate of reaction. To ensure these effects were all considered, the following descriptors were included in the PCA map for the Baylis-Hillman reaction.

    <br><br>
    <table class="table table-sm table-bordered">
        <tr>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Molecular Weight (g/mol)'>Molecular Weight</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Density (g/cm<sup>3</sup>)'>Density</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Calculated Molar Volume (cm<sup>3</sup>/mol)'>Molar Volume</a>
            </td>
        </tr>
        <tr>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Boiling Point (&#8451;)'>Boiling Point</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Refractive Index'>Refractive Index</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Dynamic Viscosity (cP)'>Viscosity</a>
            </td>
        </tr>
        <tr>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Vapour Pressure (mmHg)'>Vapour Pressure</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Experimental Octanol-Water Partition Coefficient'>LogP</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Measured Dipole Moment (DeBye)'>Dipole Moment</a>
            </td>
        </tr>
        <tr>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Measured Dielectric Constant'>Dielectric Constant</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Hydrogen Bond Donor Ability'>Kamlet-Taft &alpha;</a>
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Hydrogen Bond Acceptor Ability'>Kamlet-Taft &beta;</a>
            </td>
        <tr>
        <td>
            <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Polarizability'>Kamlet-Taft &pi;<sup>*</sup></a>
        </td>
        <td>
            <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Hansen Solubility Parameter Describing Dispersion'>Dispersion <i>&delta;<sub>d</sub></i></a>
        </td>
        <td>
            <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Hansen Solubility Parameter Describing Dipolar Interactions'>Polarity <i>&delta;<sub>p</sub></i></a>
        </td>
    </tr>
        <tr>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-html="true" title='Hansen Solubility Parameter Describing Hydrogen Bonding'>Hydrogen Bonding <i>&delta;<sub>h</sub></i></a>
            </td>
        </tr>
    </table>
    <br>
    <h4>Experimental Data</h4>
     A report by <a href="https://pubs.rsc.org/en/content/articlelanding/2020/re/d0re00174k" target="_blank">Sangon <i>et al.</i></a><sup>4</sup> investigated the effects of solvent
    on the DABCO-catalysed Baylis-Hillman reaction of 4-nitrobenzaldehyde and methylacrylate. This experimental data can be viewed by selecting "Baylis-Hillman" in the Colour Change dropdown.
    <div style="text-align: center;">
        <img alt="Baylis Hillman Experimental Reaction Scheme" style="width: 90%" src="{{url_for('static', filename='img/solvent_PCA_reactions/baylis_hillman_experimental.svg')}}">

    </div>
    <br><br>

    <h4>References</h4>

    <p style="font-size: 11px">
        1. Robiette R, Aggarwal VK, Harvey JN. Mechanism of the Morita−Baylis−Hillman Reaction: A Computational
        Investigation. J. Am. Chem. Soc. 2007;129:15513-15525
        <a href="https://doi.org/10.1021/ja0717865" target="_blank">https://doi.org/10.1021/ja0717865</a>.<br>
        2. Aggarwal VK, Dean DK, Mereu A, Williams R. Rate Acceleration of the Baylis−Hillman Reaction in Polar Solvents
        (Water and Formamide). Dominant Role of Hydrogen Bonding, Not Hydrophobic Effects, Is Implicated. J. Org. Chem.
        2002;67:510-514
        <a href="https://doi.org/10.1021/jo016073y" target="_blank">https://doi.org/10.1021/jo016073y</a>.<br>
        3. de Souza ROMA, Pereira VLP, Esteves PM, Vasconcellos MLAA. The Morita–Baylis–Hillman reaction in
        aqueous–organic solvent system. Tetrahedron Letters. 2008;49:5902-5905
        <a href="https://doi.org/10.1016/j.tetlet.2008.07.140" target="_blank">https://doi.org/10.1016/j.tetlet.2008.07.140</a>.<br>
        4. Sangon S, Supanchaiyamat M, Sherwood J, McElroy CR, Hunt AJ. Direct comparison of safer or sustainable
        alternative dipolar aprotic solvents for use in carbon–carbon bond formation. React. Chem. Eng. 2020;5:1798-1804
        <a href="https://doi.org/10.1039/D0RE00174K" target="_blank">https://doi.org/10.1039/D0RE00174K</a>.<br>


    </p>

</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
