<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom_colours.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/summary_table/form_summary_table.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/input_novel_compounds.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/reaction_reload.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/reaction_table.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/compound_error_flag.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/autosave.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reaction_table_style.css') }}">
</head>


<div class="container-fluid" style="padding-left: 0px">
    <div id="reaction-name-description">
        <p>
            <textarea disabled id="js-reaction-name2" style="resize: horizontal;" rows="1" cols="50" placeholder="Please enter your reaction name">{% if tutorial == "yes" %}Tutorial Reaction{% else %}{{ reaction.name }}{% endif %}</textarea>
        </p>
        <p>
            <textarea id="js-reaction-description" rows="4" cols="100" placeholder="Please describe your reaction"></textarea>
        </p>
    </div>
    <p><b>Please fill in the highlighted boxes to proceed</b></p>
</div>
<div style="overflow-x:auto;" class="table-responsive text-nowrap" id="reaction-table-div">
    <table class="table table-sm w-auto">
        <tr class="not-novel-compound-input">
            <th scope="col">&#8470;</th>
            <th scope="col">Reactants</th>
            <th scope="col">Limiting Reagent?</th>
            <th scope="col">Mol.Wt</th>
            <th scope="col">Density (g/mL)</th>
            <th scope="col">Conc. (M)</th>
            <th scope="col">Equiv.</th>
            <th scope="col">Amount<br>
                <select size="1" name="amountUnit" id="js-amount-unit">
                    <option value="mol">mol</option>
                    <option value="mmol" selected>mmol</option>
                    <option value="μmol">μmol</option>
                </select>
            </th>
            <th scope="col">Volume<br>
                <select size="1" name="volumeUnit" id="js-volume-unit">
                    <option value="mL" selected>mL</option>
                    <option value="μL">μL</option>
                </select>
            </th>
            <th scope="col">Mass<br>
                <select size="1" name="massUnit" id="js-mass-unit">
                    <option value="g">g</option>
                    <option value="mg" selected>mg</option>
                    <option value="μg">μg</option>
                </select>
            </th>
            <th scope="col">Physical Form</th>
            <th scope="col">Hazards</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>

    {% for reactant in reactants %}
    <input type="hidden" value="{{ loop.index }}" id="js-reactant-loop-index">
        <tr class="not-novel-compound-input">
            <td><input id="js-reactant-table-number{{ loop.index }}" style="width: 40px; border-width:0px;" type="number" value="{{ loop.index }}" readonly></td>
            <td style='width: 200px;'><input  id="js-reactant{{ loop.index }}" style="width: 200px; border-width:0px;" value="{{ reactant }}"></td>
            <td><input  type="radio" step="any"
                    name="reactant-limiting" id="js-reactant-limiting{{ loop.index }}" value="{{ loop.index }}"  class="js-reactant-limiting">
            </td>
            <td><input style="width: 70px; border-width:0px;" type="number" step="any" value="{{ reactant_mol_weights[loop.index0] }}"
                    id="js-reactant-molecular-weight{{ loop.index }}" readonly>
            </td>
            <td><input style="width: 60px; border-width:0px;" type="number" step="any" placeholder="-" min="0"
                    {% if reactant_densities %}value="{{ reactant_densities[loop.index0] }}"{% endif %}
                    id="js-reactant-density{{ loop.index }}"></td>
            <td><input style="width: 60px; border-width:0px;" type="number" step="any" placeholder="-" min="0"
                    {% if reactant_сoncentrations %}value="{{ reactant_сoncentrations[loop.index0] }}"{% endif %}
                    id="js-reactant-concentration{{ loop.index }}"></td>
            <td><input style="width: 60px;" type="number" step="any" min="0" id="js-reactant-equivalent{{ loop.index }}" placeholder="-"
                    {% if loop.index == 1 %} value="1" readonly {% else %}
                    {% if reactant_equivalents %}value="{{ reactant_equivalents[loop.index0] }}"{% endif %}
                    {% endif %}></td>
            <td><input style="width: 60px; border-width:0px;" type="number" step="any" placeholder="-" min="0"
                    {% if rounded_reactant_amounts %}value="{{ rounded_reactant_amounts[loop.index0] }}"{% endif %}
                    id="js-reactant-rounded-amount{{ loop.index }}" class="js-reactant-rounded-amounts"
                    readonly></td>
            <td><input style="width: 60px; border-width:0px;" type="number" step="any" placeholder="-" min="0"
                    {% if rounded_reactant_volumes %}value="{{ rounded_reactant_volumes[loop.index0] }}"{% endif %}
                    id="js-reactant-rounded-volume{{ loop.index }}"
                    readonly></td>
            <td><input style="width: 60px;" type="number" step="any" placeholder="-" min="0" id="js-reactant-rounded-mass{{ loop.index }}" class="js-reactant-rounded-masses"
                    {% if rounded_reactant_masses %}value="{{ rounded_reactant_masses[loop.index0] }}"{% endif %}
                    {% if loop.index == 1 %} {% else %}
                    readonly
                    {% endif %}></td>
            <td><select size="1" class="physical-form" id="js-reactant-physical-form{{ loop.index }}">
                    <option value="-select-" selected>-select-</option>
                    <option value="Dense solid">Dense solid</option>
                    <option value="Non-volatile liquid">Non-volatile liquid (b.p. &gt; 130&#8451;)</option>
                    <option value="Unknown">Unknown</option>
                    <option value="Dusty Solid">Dusty Solid</option>
                    <option value="Lyophilised solid">Lyophilised solid</option>
                    <option value="Volatile liquid">Volatile liquid (70&#8451; &le; b.p. &le; 130&#8451;)</option>
                    <option value="Gas">Gas</option>
                    <option value="Highly volatile liquid">Highly volatile liquid (b.p. &lt; 70&#8451;)</option>
                    <option value="Aerosol">Aerosol</option>
                    <option value="Solution that promotes skin absorption">Solution that promotes skin absorption</option>
                </select></td>
            <td><textarea class="text-in-table" id="js-reactant-hazards{{ loop.index }}" readonly>{{ reactant_hazards[loop.index0] }}</textarea></td>
            <td><button onclick="reportWindow(this.id)" data-toggle="modal" data-target="#report-compound-data-modal" title="Report incorrect compound data" class="btn btn-outline-dark btn-light btn-sm" id="js-report-reactant{{ loop.index }}" type="button"><i class="bi bi-exclamation-circle"></i></button></td>
            <td></td>
        </tr>
        <input type="hidden"
        {% if reactant_amounts %}value="{{ reactant_amounts[loop.index0] }}"{% endif %}
        id="js-reactant-amount{{ loop.index }}">
        <input type="hidden"
        {% if reactant_volumes %}value="{{ reactant_volumes[loop.index0] }}"{% endif %}
        id="js-reactant-volume{{ loop.index }}">
        <input type="hidden"
        {% if reactant_masses %}value="{{ reactant_masses[loop.index0] }}"{% endif %}
        id="js-reactant-mass{{ loop.index }}">
        <input type="hidden" value="{{ reactant_primary_keys[loop.index0] }}" id="js-reactant-primary-key{{ loop.index }}">

        {% endfor %}
        <input type="hidden" value="{{ number_of_reactants }}" id="js-number-of-reactants">

        <tbody id="js-reagent-table">
            <tr style="display: none" id="js-input-reagent1">
                <td style="text-align:center;">New<br>Compound</td>
                <td>Name</td>
                <td>SMILES</td>
                <td>Hazard Codes</td>
                <td>CAS</td>
                <td>MW</td>
                <td>Density</td>
                <td>Conc.</td>
            </tr>
            <tr style="display: none" id="js-input-reagent2">
                <td></td>
                <td><input style="width: 200px;" class="add-highlight-unfilled-cell no_autosave"  type="text" id="js-input-reagent-name" placeholder="Required"></td>
                <td><input style="width: 200px" type="text" id="js-input-reagent-smiles" placeholder="Optional" class="no_autosave"></td>
                <td><input style="width: 200px" type="text" id="js-input-reagent-hazards" placeholder="Optional (HXXX-etc.)" class="no_autosave"></td>
                <td><input style="width: 200px" type="text" id="js-input-reagent-cas" placeholder="Optional" class="no_autosave"></td>
                <td><input style="width: 60px" type="number" id="js-input-reagent-mw" placeholder="Opt." class="no_autosave"></td>
                <td><input style="width: 60px" type="number" id="js-input-reagent-density" placeholder="Opt." class="no_autosave"></td>
                <td><input style="width: 60px" type="number" id="js-input-reagent-concentration" placeholder="Opt." class="no_autosave"></td>
                <td><button type="button" id="js-input-reagent" class="btn btn-outline-dark"
                            onclick="submitNovelCompoundViaTable('reagent')" title="Add compound to database" style="width: fit-content;">Input</button></td>
                <td><button type="button" id="js-input-cancel" class="js-input-cancel btn btn-outline-dark"
                            style="width: fit-content;" onclick="cancelNovelCompoundInput('reagent')">Cancel</button></td>
            </tr>
            <tr class="not-novel-compound-input" id="reagent-row">
                <td></td>
                <td><b>Catalysts/reagents</b> <button id="js-add-new-reagent-by-table" title="Add new reagent to database" onclick="makeReagentInput()" class="btn btn-outline-dark" style="width: fit-content;">Add new reagent to database</button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" title="Add reagent to reaction" onclick="addNewReagent()" class="js-add-reagent btn btn-success" style="width: fit-content;">Add Reagent</button></td>
            </tr>
        </tbody>


        <tbody id="js-solvent-table">
            <tr id="solvent-row">
                <td></td>
                <td><b>Solvents</b><button id="js-add-new-solvent-by-table" title="Add new solvent to database" onclick="makeSolventInput()" class="btn btn-outline-dark" style="width: fit-content;">Add new solvent to database</button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><select size="1" name="solventVolumeUnit" id="js-solvent-volume-unit">
                        <option value="mL" selected>mL</option>
                        <option value="μL">μL</option>
                    </select></td>
                <td></td>
                <td></td>
                <td><button type="button" title="Add solvent to reaction" onclick="addNewSolvent()" class="js-add-solvent btn btn-primary" style="width: fit-content;">Add Solvent</button></td>
            </tr>
            <tr style="display: none" id="js-input-solvent1">
                <td style="text-align:center;">New<br>Compound</td>
                <td>Name</td>
                <td>SMILES</td>
                <td>Hazard Codes</td>
                <td>CAS</td>
                <td>MW</td>
                <td>Density</td>
                <td>Conc.</td>
            </tr>
            <tr style="display: none" id="js-input-solvent2">
                <td></td>
                <td><input style="width: 200px;" class="add-highlight-unfilled-cell no_autosave"  type="text" id="js-input-solvent-name" placeholder="Required"></td>
                <td><input style="width: 200px" type="text" id="js-input-solvent-smiles" placeholder="Optional" class="no_autosave"></td>
                <td><input style="width: 200px" type="text" id="js-input-solvent-hazards" placeholder="Optional (HXXX-etc.)" class="no_autosave"></td>
                <td><input style="width: 200px" type="text" id="js-input-solvent-cas" placeholder="Optional" class="no_autosave"></td>
                <td><input style="width: 60px" type="number" id="js-input-solvent-mw" placeholder="Opt." class="no_autosave"></td>
                <td><input style="width: 60px" type="number" id="js-input-solvent-density" placeholder="Opt." class="no_autosave"></td>
                <td><input style="width: 60px" type="number" id="js-input-solvent-concentration" placeholder="Opt." class="no_autosave"></td>
                <td><button type="button" id="js-input-solvent" class="btn btn-outline-dark"
                            onclick="submitNovelCompoundViaTable('solvent')" title="Add solvent to database" style="width: fit-content;">Input</button></td>
                <td><button type="button" id="js-input-solvent-cancel" class="js-input-cancel btn btn-outline-dark"
                            style="width: fit-content;" onclick="cancelNovelCompoundInput('solvent')">Cancel</button></td>
            </tr>
        </tbody>

        <tr class="not-novel-compound-input">
            <td></td>
            <td><b>Product</b></td>
            <td><b>Desired Product?</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><select size="1" name="productAmountUnit" id="js-product-amount-unit">
                <option value="mol">mol</option>
                <option value="mmol" selected>mmol</option>
                <option value="μmol">μmol</option>
            </select></td>
            <td></td>
            <td><select size="1" name="productMassUnit" id="js-product-mass-unit">
                <option value="g">g</option>
                <option value="mg" selected>mg</option>
                <option value="μg">μg</option>
            </select></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        {% for product in products %}
        <tr class="not-novel-compound-input">
            <td><input type="number" id="js-product-table-number{{ loop.index }}" value="{{ product_table_numbers[loop.index0] }}" style="width:40px; border:none" readonly></td>
            <td style='width: 200px;'><input  id="js-product{{ loop.index }}" style="width: 200px; border-width:0px;" value="{{ product }}"></td>
            <td><input type="radio" id="js-main-product{{ loop.index }}" name="js-main-product" value="{{ product_table_numbers[loop.index0] }}" class="js-main-product"></td>
                <script>
                $('input[name="js-main-product"]').first().prop('checked', true)
                </script>
            <td><input type="number" step="any" value="{{ product_mol_weights[loop.index0] }}"
                       id="js-product-molecular-weight{{ loop.index }}" style="width: 70px; border:none" readonly></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="number" step="any" placeholder="-" min="0"
                {% if rounded_product_amounts %}value="{{ rounded_product_amounts[loop.index0] }}"{% endif %}
                id="js-product-rounded-amount{{ loop.index }}" style="width: 60px; border:none" readonly></td>
            <td></td>
            <td style="width:4.3em"><input type="number" step="any" placeholder="-" min="0"
                {% if rounded_product_masses %}value="{{ rounded_product_masses[loop.index0] }}"{% endif %}
                id="js-product-rounded-mass{{ loop.index }}" style="width: 60px; border:none" readonly></td>
            <td><select size="1" class='physical-form' id="js-product-physical-form{{ loop.index }}">
                <option value="-select-" selected>-select-</option>
                <option value="Dense solid">Dense solid</option>
                <option value="Non-volatile liquid">Non-volatile liquid (b.p. &gt; 130&#8451;)</option>
                <option value="Unknown">Unknown</option>
                <option value="Dusty Solid">Dusty Solid</option>
                <option value="Lyophilised solid">Lyophilised solid</option>
                <option value="Volatile liquid">Volatile liquid (70&#8451; &le; b.p. &le; 130&#8451;)</option>
                <option value="Gas">Gas</option>
                <option value="Highly volatile liquid">Highly volatile liquid (b.p. &lt; 70&#8451;)</option>
                <option value="Aerosol">Aerosol</option>
                <option value="Solution that promotes skin absorption">Solution that promotes skin absorption</option>
            </select></td>
            <td><textarea class="text-in-table" id="js-product-hazard{{ loop.index }}" readonly>{{ product_hazards[loop.index0] }}</textarea></td>
            <td><button onclick="reportWindow(this.id)" data-toggle="modal" data-target="#report-compound-data-modal" title="Report incorrect compound data" class="btn btn-outline-dark btn-light btn-sm" id="js-report-product{{ loop.index }}" type="button"><i class="bi bi-exclamation-circle"></i></button></td>
            <td></td>
        </tr>
        <input type="hidden" {% if product_amounts %}value="{{ product_amounts[loop.index0] }}"{% endif %}
               id="js-product-amount{{ loop.index }}">
        <input type="hidden" {% if product_masses %}value="{{ product_masses[loop.index0] }}"{% endif %}
               id="js-product-mass{{ loop.index }}">
        <input type="hidden" value="{{ product_primary_keys[loop.index0] }}" id="js-product-primary-key{{ loop.index }}">


    {% endfor %}

    </table>
</div>
<input type="hidden" value="{{ number_of_products }}" id="js-number-of-products">
<input type="hidden" value="0" id="js-reaction-image-source">

<div hidden>
    <select id="js-physical-form-dropdown" size="1" class="physical-form add-highlight-unfilled-cell">
        <option selected>-select-</option>
        <option>Dense solid</option>
        <option>Non-volatile liquid (b.p. &gt; 130&#8451;)</option>
        <option>Unknown</option>
        <option>Dusty Solid</option>
        <option>Lyophilised solid</option>
        <option>Volatile liquid (70&#8451; &le; b.p. &le; 130&#8451;)</option>
        <option>Gas</option>
        <option>Highly volatile liquid (b.p. &lt; 70&#8451;)</option>
        <option>Aerosol</option>
        <option>Solution that promotes skin absorption</option>
    </select>
</div>

<table hidden id="js-solvent-table-new-row">
    <tr id="js-solvent-table-row-x-" class="not-novel-compound-input">
        <td><input type="number"
         style="width:40px; border:none" id="js-solvent-table-number-x-"
         value="" readonly></td>
        <td id="js-solvent-datalist-cell-x-"  ><input aria-role="combobox" type="search"
        style="width: 200px;" class="add-highlight-unfilled-cell" id="js-solvent-x-" autocomplete="off"
        placeholder="Name or CAS Number">
        </td>
        <td><button value="-x-" id="go-to-solvent-guide-x-" title="Open solvent guide in new tab" class="btn btn-outline-primary btn-primary btn-sm" onclick="goToSolventGuide(this.value)">Solvent Guide</button></td>
        <td></td>
        <td></td>
        <td><input type="number" step="any" min="0" placeholder="-"
         id="js-solvent-rounded-concentration-x-"
         style="width:60px; border:none" readonly></td>
        <td></td>
        <td></td>
        <td><input type="number" step="any" min="0" placeholder="-"
         id="js-solvent-volume-x-" style="width:60px;" class="add-highlight-unfilled-cell"></td>
        <td></td>
        <td id="js-solvent-physical-form-dropdown-cell-x-"></td>
        <td><textarea class="text-in-table"
         id="js-solvent-hazards-x-" readonly></textarea></td>
        <td><button onclick="reportWindow(this.id)" data-toggle="modal" data-target="#report-compound-data-modal"
                    title="Report incorrect compound data" class="btn btn-outline-dark btn-light btn-sm" id="js-report-solvent-x-"
                    type="button" style="display: none"><i class="bi bi-exclamation-circle"></i></button></td>
        <td>
            <button value="-x-" id="remove-solvent-x-" onclick="removeSolvent(this.value)" type="button" class="js-remove-solvent close" aria-label="Close">
                <span aria-hidden="true" title="Remove Solvent">&times;</span>
            </button>
        </td>
        <input type="hidden"
        id="js-solvent-concentration-x-">
        <input type="hidden" id="js-solvent-primary-key-x-">
    </tr>
</table>


<table hidden id="js-reagent-table-new-row">
    <tr id="js-reagent-table-row-x-" class="not-novel-compound-input">
        <td><input type="number"
         id="js-reagent-table-number-x-"
         style="width: 40px; border-width:0px;" value="
        reagentTableNumber  " readonly>
        </td><td style="width: 200px;"><datalist size="1"
         id="js2-reagent-x-" style="width: 200px;">
         <option selected>-select-</option>
        </datalist><input style="width: 200px;" class="add-highlight-unfilled-cell" type="search" id="js-reagent-x-" autocomplete="off" list="js2-reagent-x-" placeholder="Name or CAS Number"></td>
        <td></td>
        <td><input type="number" step="any" placeholder="-" min="0"
         id="js-reagent-molecular-weight-x-" style="width: 70px; border:none" readonly></td>
        <td><input type="number" step="any" min="0" placeholder="-"
         id="js-reagent-density-x-" style="width: 60px; border:none"></td>
        <td><input type="number" step="any" min="0" placeholder="-"
         id="js-reagent-concentration-x-" style="width: 60px; border:none"></td>
        <td><input type="number" step="any" min="0" placeholder="-"
         id="js-reagent-equivalent-x-" style="width: 60px;" class="add-highlight-unfilled-cell"></td>
        <td><input type="number" step="any" min="0" placeholder="-"
         id="js-reagent-rounded-amount-x-" style="width: 60px; border:none" readonly></td>
        <td><input type="number" step="any" min="0" placeholder="-"
         id="js-reagent-rounded-volume-x-" style="width: 60px; border:none" readonly></td>
        <td><input type="number" step="any" min="0" placeholder="-"
         id="js-reagent-rounded-mass-x-" style="width: 60px; border:none" readonly></td>
        <td id="js-reagent-physical-form-dropdown-cell-x-"></td>
        <td><textarea class="text-in-table"
         id="js-reagent-hazards-x-" readonly></textarea></td>
        <td><button onclick="reportWindow(this.id)" data-toggle="modal" data-target="#report-compound-data-modal"
                    title="Report incorrect compound data" class="btn btn-outline-dark btn-light btn-sm" id="js-report-reagent-x-"
                    type="button" style="display: none"><i class="bi bi-exclamation-circle"></i></button>
        <input type="hidden" id="js-reagent-amount-x-">
        <input type="hidden" id="js-reagent-mass-x-">
        <input type="hidden" id="js-reagent-volume-x-">
        <input type="hidden" id="js-reagent-primary-key-x-">
        <input type="hidden" id="js-reagent-smiles-x-"></td>
        <td>
            <button value="-x-" id="remove-reagent-x-" onclick="removeReagent(this.value)" type="button" class="js-remove-reagent close" aria-label="Close">
                <span aria-hidden="true" title="Remove Reagent">&times;</span>
            </button>
        </td>
    </tr>
</table>
</div>




<input type="hidden" value="{{ number_of_solvents }}" id="js-number-of-solvents" onchange="autoSaveCheck()">


<input type="hidden" value="{{ number_of_reagents }}" id="js-number-of-reagents">


<input type="hidden" value="1" id="js-limiting-reactant-table-number">
<input type="hidden" value="1" id="js-main-product-table-number">

<input type="hidden" value="{{ identifiers }}" id="js-reagent-identifiers">

<datalist role="listbox" size=1 list="" id="js-solvent-datalist" class="solvent-datalist">
    {% for sol in sol_rows %}
      <option value="{{ sol.name }}" class='datalistOption {% if sol.flag == 1 %}hazard-highly-hazardous{% elif sol.flag == 2 %}hazard-hazardous{% elif sol.flag == 3 %}hazard-warning{% elif sol.flag == 4 %}hazard-acceptable{% else %}hazard-reset-hazard{% endif %}'>{{ sol.name }}</option>
    {% endfor %}
</datalist>


<!-- Report compound modal -->
<div class="modal fade" id="report-compound-data-modal" tabindex="-1" role="dialog" aria-labelledby="report-compound-data-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="compound-data-report-modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="compound-data-report-body">
          <span id="compound-data-report-text"></span>
          <div id="modal-report-inner-body">
              <br>
              <span style="float: left">
                  Select error from dropdown
                  <br>
                  <select size="1" id="compound-data-report-dropdown">
                      <option value="-select-" selected>-select-</option>
                      <option value="incorrect-cas">Incorrect CAS</option>
                      <option value="incorrect-name">Incorrect name</option>
                      <option value="incorrect-molecular-weight">Incorrect molecular weight</option>
                      <option value="incorrect-density">Incorrect density</option>
                      <option value="incorrect-concentration">Incorrect concentration</option>
                      <option value="incorrect-hazards">Incorrect hazards</option>
                      <option value="other">Other</option>
                  </select>
                  </span>
                  <span style="float: right">
                      Additional information
                      <br>
                      <textarea id="compound-data-report-additional-info" cols="28"></textarea>
            </span>
          </div>
          <input hidden id="compound-data-report-id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="report-compound-data-close">Close</button>
        <button type="button" class="btn btn-danger" id="report-compound-data-submit" onclick="reportCompoundSubmit()" disabled>Report</button>
      </div>
    </div>
  </div>
</div>

<!-- reaction-note modal window -->
<div class="modal fade" id="new-reaction-note-modal" tabindex="-1" role="dialog" aria-labelledby="new-reaction-note-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-reaction-note-modal-title">Add Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="new-reaction-note-body">
          <div id="modal-new-reaction-note-inner-body">
              <label for="new-reaction-note-text">Add a note to amend any missing or incorrect details in the reaction.</label>
              <textarea id="new-reaction-note-text" style="width: 100%; height:10rem"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-reaction-note-close">Close</button>
        <button type="button" class="btn btn-success" id="new-reaction-note-submit" data-dismiss="modal" onclick="saveNewReactionNoteToDatabase()" disabled>Submit</button>
      </div>
    </div>
  </div>
</div>

