<head>
    <script src="https://unpkg.com/html2canvas@1.0.0-alpha.12/dist/npm/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{#    TODO - look at replacing with html3pdf when a CDN url is made available https://github.com/davidnbooth/html3pdf.js#}
   <script type="text/javascript" src="{{ url_for('static', filename='js/summary_table/pdf_summary.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/autosave.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom_colours.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/summary_table/form_summary_table.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/input_novel_compounds.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/reaction_reload.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/reaction_table.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/compound_error_flag.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reaction_table_style.css') }}">
    {% import "reaction_constructor/reaction_table_components.html" as reaction_table_components %}

    <script>
        initialiseReactionTable()
    </script>
</head>


{{ reaction_table_components.reaction_description(reaction, tutorial) }}

{{ reaction_table_components.reaction_class_dropdown(reaction_class, reaction_classes) }}

<div style="overflow-x:auto;" class="table-responsive text-nowrap" id="reaction-table-div">
    <br>
    <table class="table table-sm w-auto">

    {{ reaction_table_components.table_headings() }}

    {% for reactant in reactants %}
        {{  reaction_table_components.reactant_row(reactant, loop.index) }}
    {% endfor %}

    {#      Reagent/catalyst input - includes new reagent row   #}
    {{ reaction_table_components.reagent_or_solvent_heading("reagent") }}

    {{ reaction_table_components.reagent_or_solvent_heading("solvent") }}

    {{ reaction_table_components.product_headings() }}

    {% for product in products %}
        {{  reaction_table_components.product_row(product, loop.index) }}
    {% endfor %}

    </table>
<input type="hidden" value="0" id="js-reaction-image-source">



{{ reaction_table_components.solvent_row() }}

{{ reaction_table_components.reagent_row() }}
</div>

{# Numbers #}
<input type="hidden" value="{{ number_of_solvents }}" id="js-number-of-solvents" onchange="autoSaveCheck()">

<input type="hidden" value="{{ number_of_reagents }}" id="js-number-of-reagents">

<input type="hidden" value="{{ number_of_reactants }}" id="js-number-of-reactants">

<input type="hidden" value="{{ number_of_products }}" id="js-number-of-products">

<input type="hidden" value="1" id="js-limiting-reactant-table-number">

<input type="hidden" value="1" id="js-main-product-table-number">

<input type="hidden" value="{{ identifiers }}" id="js-reagent-identifiers">

<datalist role="listbox" size=1 list="" id="js-solvent-datalist" class="solvent-datalist">
    {% for sol in sol_rows %}
      <option value="{{ sol.name }}" class='datalistOption {% if sol.flag == 1 %}hazard-highly-hazardous{% elif sol.flag == 2 %}hazard-hazardous{% elif sol.flag == 3 %}hazard-warning{% elif sol.flag == 4 %}hazard-acceptable{% else %}hazard-reset-hazard{% endif %}'>{{ sol.name }}</option>
    {% endfor %}
</datalist>


{{ reaction_table_components.report_compound_modal() }}

{{ reaction_table_components.reaction_note_modal() }}
