<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% if reactions %}

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary btn-sm{% if sort_crit == "AZ" %} active{% else %}{% endif %}" id="AZ">
    <input onclick="sortReactionsAlphabetically()" value="1" type="radio" name="options" id="Sort-A-Z" autocomplete="off"{% if sort_crit == "AZ" %} checked{% else %}{% endif %} /> A-Z &#8645;
  </label>
  <label class="btn btn-secondary btn-sm{% if sort_crit == "time" %} active{% else %}{% endif %}" id="time">
    <input onclick="sortReactionsByTime()" value="2" type="radio" name="options" id="Sort-Time" autocomplete="off"{% if sort_crit == "time" %} checked{% else %}{% endif %} /> Date Created (Newest First) &#8645;
  </label>
</div>

<script>

</script>
<div id="reaction-list">
    {% for reaction in reactions %}
        <div id="reaction-{{ loop.index }}" class="reaction-card">
            <div id="reaction-name{{ loop.index }}" class="reaction-name"><h4>{{ reaction.name }}</h4></div>
            <div id="reaction-id{{ loop.index }}"><h5>{{ reaction.reaction_id }}</h5></div>
            <div class="description">{{ reaction.description }}</div>
            <div id="image{{ loop.index }}"></div>
            <div class="reaction-time">{{ reaction.time_of_creation[:-7] }}</div>
            <button onclick="redirectToReloadReaction(this)" id="{{ reaction.reaction_id }}" class="btn btn-success reload-btn">Reload</button>
            {% if reaction.creator_email == current_user.email %}
                <button onclick="deleteReaction(this)" id="{{ reaction.reaction_id }}" name="delete-reaction" class="btn btn-danger">Delete</button>
            {% endif %}
            {% if reaction.completion_status == "complete" %}
                <i class="fa fa-lock" style="font-size:20px; color:darkgrey;"></i><b style="font-size:12px; color:darkgrey;">  Reaction Locked</b>
            {% endif %}
            {% if reaction.creator_email != current_user.email %}
                <i class="fa fa-lock" style="font-size:20px; color:darkgrey;"></i><b style="font-size:12px; color:darkgrey;">  Read-only reaction created by {{ reaction.creator_username }}</b>
            {% endif %}
            {% if reaction.addenda %}
                <i class="bi bi-chat-dots" style="font-size:20px; color:darkgrey;"></i><b style="font-size:12px; color:darkgrey;">  Contains Amendments</b>
            {% endif %}
            <hr class="line">
        </div>
    {% endfor %}
</div>
{% else %}




<script>
    // if reactions show option to export data
    document.getElementById("export-div").style.display = "block";
</script>


<script>
    // if no reactions don't give option to export reactions
    document.getElementById("no-reactions").style.display = "block";
    document.getElementById("export-div").style.display = "none";
</script>
{% endif %}
<input type="hidden" value="{{ reactions|length }}" id="js-number-of-reactions">
<input type="hidden" value="{{ sort_crit }}" id="js-sort-crit">
<script>


</script>
