{% extends "base.html" %}
{% block content %}
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/auxiliary.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/export_data.js') }}"></script>
</head>

<div class="container">
    <h2>
        Export Data
    </h2>
    <form class="form">
        <!--            workgroups -->
        <div class="form-group">
            <label for="active-workgroup">Workgroup</label>
            <select id="active-workgroup" class="form-control" onchange="updateSelectedWorkGroup()">
                {% for workgroup in workgroups %}
                <option value="{{ workgroup }}">{{ workgroup }}</option>
                {% endfor %}
            </select>
        </div>
        <!--            workbooks -->
        <div class="form-group">
            <label for="active-workbook">Workbook</label>
            <select id="active-workbook" class="form-control"></select>
        </div>
    </form>
    <!--    export format buttons-->
    <a class="btn btn-primary" id="eln-export-button" onclick="export_data()">Export as .ELN</a>
    <!--export response-->
    <div id="export-response">

    </div>

</div>



{% endblock %}
