{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>
        Hazard Disclaimer
    </h1>
    <p>
        Whilst all efforts have been made to provide highly accurate compound data,
        we cannot accept responsibility for the accuracy or validity of any data
        provided or any incidents which may occur. The experimental chemist and
        their supervisor/organisation bear responsibility to be aware of and
        account for the hazards of all chemicals they are working with and to
        perform any experiments safely and adhering to the safe working practices
        set out by their organisation.
    </p>
    <p>
        All compound data used has been collected from PubChem laboratory chemical
        safety sheets (LCSS). The hazard data are presented as global harmonised
        system of classification and labelling of chemicals (GHS) hazard codes. The
        hazard data is only collected from the references provided by the European
        Chemicals Agency (ECHA). More information can be found at:
        <a href="https://pubchemdocs.ncbi.nlm.nih.gov/lcss">
            https://pubchemdocs.ncbi.nlm.nih.gov/lcss
        </a>
    </p>
</div>
{% endblock %}