{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/standard_user.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_list.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    <title>AI4Green - Home</title>
    {% import "macros.html" as macro_templates %}
</head>
<body>
    <div class="jumbotron jumbotron-fluid home">

        <div class="container">
            <h2 class="text-primary-green">Welcome to AI4Green, {{ current_user.username }}!</h2>
        </div>
    </div>
    <div class="container-fluid">
        {% if user_confirmed == false %}
                <div class="alert alert-primary">AI4Green now requires email verification.  <a href='/email_verification_request' class='alert-link'>Click here</a> to send a verification email to your email address.</div>
            {% endif %}
        <div class="row" id="workgroup-icons">
            <div class="col-7" id="quick-access-icons">
                <h2><i class="bi bi-star"></i> Quick Access</h2>
                <hr class="line-news">
            {{ macro_templates.icon_panel(workgroups, "workgroup", "Your Workgroups", "bi bi-people-fill") }}
                <div id="workbook-icons"></div>
            <div id="reaction-icons"></div>
                {% if workgroups|length == 0 %}
                <br>
                <p>
                    <h4> Create a Workgroup to begin or click below to find out more. </h4>
                    <a id="about-button" class="btn btn-primary btn-lg" href="{{ url_for('main.about') }}" role="button">Learn more &raquo;</a>
                    <a id="quickstart-guide" href="{{ url_for('main.send_quickstart_guide') }}" class="btn btn-primary btn-lg">Quickstart Guide &raquo;</a>
                </p>
                {% endif %}
            </div>

        <div class="col-5">
            <h2><i class="bi bi-pin-angle"></i> News Feed</h2>
            <hr class="line-news">
            <div class="scrollClass">
                {% if news_items %}
                    {% for item in news_items %}
                        <h4 id="title-{{ item.id }}">{{ item.title|safe }}</h4>
                        <p>{{ item.message|safe }}</p>
                        <div class="reaction-time">{{ (item.time|string)[:-7] }}</div>
                        {% if user_role == 'Admin' %}
                        <form action="{{ url_for('news_feed.delete_news_post') }}" method="post">
                            <input type="hidden" value="{{ item.id }}" name="post-to-delete">
                            <button type="submit" class="btn btn-danger" id="delete-{{ item.id }}">Delete</button>
                        </form>
                        {% endif %}
                        <hr class="line">
                    {% endfor %}
                {% else %}
                    No news items to show!
                {% endif %}
            </div>
        </div>
            </div>
    </div>

    {% if not privacy_policy_accepted %}
        <!-- Privacy Policy Overlay -->
        <div id="privacy-overlay">
            <div id="privacy-popup">
                <p>We have updated our <a href="auth/privacy_notice" target="_blank">Privacy Policy</a>.</p>
                <p>To continue using AI4Green, please review and agree to these updates.</p>
                <div class="container-fluid">
                    <div class="row">
                    <div class="col-6">
                        <button onclick="updatePrivacyPolicyAgreement()" class="btn btn-success reload-btn">I Accept</button>
                    </div>
                    <div class="col-6">
                        <a href={{url_for("auth.logout")}}><button onclick=href="/logout" class="btn btn-danger">No Thanks</button></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    <input id="active-workgroup" type="hidden" >
    <input id="active-workbook" type="hidden">
    {{ macro_templates.render_new_reaction_modal() }}
<br>
<br>
<br>
<br>
</body>

{% endblock %}
