{% macro render_new_reaction_modal() -%}
<!-- new reaction modal -->
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_reaction.css') }}">
    </head>
    <div class="modal fade" id="new-reaction-modal" tabindex="-1" role="dialog" aria-labelledby="new-reaction-modal-title">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="new-reaction-modal-title">New Reaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="new-reaction-body">
              <div id="new-reaction-inner-body">
                  <br>
                  <form>
                      <label class="new-reaction-label">
                          Reaction ID
                          <input id="new-reaction-id-input" class="new-reaction-input" disabled value= "">
                      </label>
                      <label class="new-reaction-label">
                          Reaction Name
                          <input id="new-reaction-name" type="text" class="new-reaction-input">
                      </label>
                  </form>
                  <div style="padding-left: 5px; color: red" id="error-warning-new-reaction"></div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="new-reaction-data-close">Cancel</button>
            <button type="button" class="btn btn-success" id="new-reaction-data-submit" onclick="newReactionCreate()">Create</button>
              <input type="hidden" id="old-reaction-id">
          </div>
        </div>
      </div>
    </div>
{%- endmacro %}

{% macro icon_panel(inputs, type, header_text) -%}
<div class="container" style="background-color: #F5F5F5">
    <div class="row">
        <div class="col-12">
            <header><h3> {{ header_text }}</h3> </header>
                <div class="row text-center">
                    {% for input in inputs -%}
                        <div class="col-3">
                            <button type="submit" id="{{ input }}" class="btn icon {{type}}" onclick="toggleIcon('{{ input }}', '{{ type }}', this.id)">
                               <i class="bi bi-alarm icon-img" style="font-size: 40"></i>
                            </button><br>
                            <div class="text-center">
                            {{ input }} <br>
                            </div>
                        </div>
                    {%- endfor %}

                <div class="col-3">
                     <button id="new-workgroup" class="btn icon">
                               <i class="bi bi-plus icon-img" style="font-size: 40"></i>
                     </button><br> New Workgroup
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

{%- endmacro %}