{% extends "base.html" %}
{% block content %}
<div id="container" class="container">
    <h2>Manage Workgroup</h2>
    <br>
    <p><b>Workgroup Name: {{ current_workgroup }}</b></p>
    <br>
    <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" role="tab" data-toggle="tab" href="#overview" aria-selected="{% if has_request == "no" %}true{% else %}false{% endif %}">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" role="tab" data-toggle="tab" href="#requests" aria-selected="{% if has_request == "no" %}false{% else %}true{% endif %}">Add Users</a>
        </li>
    </ul>
    <div class="tab-content">
<!-- Overview table-->
        <div class="tab-pane fade active show" id="overview" role="tabpanel">
            <br>
            <table id="manage_workgroup_table" class="table table-bordered table-sm">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th colspan="3">
                        Actions
                    </th>
                </tr>
                <tr>
                    <th colspan="5">
                        Principal Investigators
                    </th>
                </tr>
                {% for pis in pi %}
                <tr>
                    <td class="align-middle">
                        {{ pis.user.fullname }}
                    </td>
                    <td class="align-middle">
                        {{ pis.user.email }}
                    </td>
                    <td class="align-middle">
                        <button style="width:110px; visibility: hidden;"></button>
                    </td>
                    <td class="align-middle">
                        <button id="pi-to-sr{{ loop.index }}" value="{{ pis.user.email }}" class="btn btn-secondary" onclick="make_change('pi-to-sr{{ loop.index }}', 'pi-to-sr', 'pi')" style="width:110px;">&#8595; PI to SR</button>
                    </td>
                    <td class="align-middle">
                        <button id="pi-remove{{ loop.index }}" value="{{ pis.user.email }}" class="btn btn-danger" onclick="make_change('pi-remove{{ loop.index }}', 'remove', 'pi')" style="width:250px;">Remove from Workgroup</button>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="5">
                        Senior Researchers
                    </th>
                </tr>
                {% for srs in sr %}
                <tr>
                    <td class="align-middle">
                        {{ srs.user.fullname }}
                    </td>
                    <td class="align-middle">
                        {{ srs.user.email }}
                    </td>
                    <td class="align-middle">
                        <button id="sr-to-pi{{ loop.index }}" value="{{ srs.user.email }}" class="btn btn-primary" onclick="make_change('sr-to-pi{{ loop.index }}', 'sr-to-pi', 'sr')" style="width:110px;">&#8593; SR to PI</button>
                    </td>
                    <td class="align-middle">
                        <button id="sr-to-sm{{ loop.index }}" value="{{ srs.user.email }}" class="btn btn-secondary" onclick="make_change('sr-to-sm{{ loop.index }}', 'sr-to-sm', 'sr')" style="width:110px;">&#8595; SR to SM</button>
                    </td>
                    <td class="align-middle">
                        <button id="sr-remove{{ loop.index }}" value="{{ srs.user.email }}"  class="btn btn-danger" onclick="make_change('sr-remove{{ loop.index }}', 'remove', 'sr')" style="width:250px;">Remove from Workgroup</button>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="5">
                        Standard Members
                    </th>
                </tr>
                {% for sms in sm %}
                <tr>
                    <td class="align-middle">
                        {{ sms.user.fullname }}
                    </td>
                    <td class="align-middle">
                        {{ sms.user.email }}
                    </td>
                    <td class="align-middle">
                        <button id="sm-to-sr{{ loop.index }}" value="{{ sms.user.email }}" class="btn btn-primary" onclick="make_change('sm-to-sr{{ loop.index }}', 'sm-to-sr', 'sm')" style="width:110px;">&#8593; SM to SR</button>
                    </td>
                    <td class="align-middle">
                    </td>
                    <td class="align-middle">
                        <button id="sm-remove{{ loop.index }}" value="{{ sms.user.email }}" class="btn btn-danger" onclick="make_change('sm-to-sr{{ loop.index }}', 'remove', 'sm')" style="width:250px;">Remove from Workgroup</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
<!--Requests table-->
        <div class="tab-pane fade" id="requests" role="tabpanel">
            <br>
            <h4>Users can be added to workgroups by email or using the QR code</h4>
            <form action="{{ url_for('join_workgroup.add_user_by_email') }}">
              <label for="email-to-add">User Email:</label>
              <input type="text" id="email-to-add" name="email">
                <input type="text" id="workgroup-name" name="workgroup" hidden value="{{ current_workgroup }}">
              <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<input type="hidden" id="current_workgroup" value="{{ current_workgroup }}">
<script>
    function make_change(id, mode, current_status){

        if (mode === "remove"){
            const completeConfirm = window.confirm("Are you sure you want to remove this user entirely from the Workgroup? They will also be removed from any Workbooks they are part of within this Workgroup.");
            if (completeConfirm === false) {
                return;
            }
        }
        let email = $("#" + id).val()
        let workgroup = $("#current_workgroup").val();
        fetch('/manage_workgroup/make_change/' + workgroup + '/' + email + '/' + mode + '/' + current_status).then(function(response) {
            response.json().then(function(data) {
                alert(data.feedback);
                window.location.href = "/manage_workgroup/" + workgroup;
            });
        });
    }
    function make_change_request(id, mode, decision){
        let email = $("#" + id).val()
        let workgroup = $("#current_workgroup").val();
        fetch('/manage_workgroup/change_status_request/' + workgroup + '/' + email + '/' + mode + '/' + decision).then(function(response) {
            response.json().then(function(data) {
                alert(data.feedback);
                window.location.href = "/manage_workgroup/" + workgroup + "/yes";
            });
        });
    }
</script>
{% endblock %}



