{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>
    AI4Green Privacy Policy
    </h1>
    <p>
        <strong>Our contact details </strong>
    </p>
    <p>
        Address: Department of Chemistry, University of Nottingham, Nottingham, NG7
        2RD
    </p>
    <p>
        Email: <a href="mailto:admin@ai4green.app">admin@ai4green.app</a>
    </p>
    <p>
        <strong>The type of personal information we collect </strong>
    </p>
    <p>
        We currently collect and process the following information:
    </p>
    <p>
        Personal identifiers and email (for example, name, institution, website
        user information, error logs and contact details)
    </p>
    <p>
        <strong>How we get the personal information and why we have it</strong>
    </p>
    <p>
        The personal information we process is provided to us directly by you. We
        use the information that you have given us in order to manage your account,
        personalise your use of the website, and manage your workbook, workgroup,
        and institution affiliation.
    </p>
    <p>
        We won’t share this information with anyone else.
    </p>
    <p>
        Under the UK General Data Protection Regulation (UK GDPR), the lawful bases
        we rely on for processing this information are:<strong></strong>
    </p>
    <p>
        <strong>(a) </strong>
        <strong>
            Your consent. You are able to remove your consent at any time. You can
            do this by contacting <a href="mailto:admin@ai4green.app">admin@ai4green.app</a>.
        </strong>
    </p>
    <p>
        <strong>(b) </strong>
        <strong>We have a legitimate interest.</strong>
    </p>
    <p>
        <strong></strong>
    </p>
    <p>
        <strong>How we store your personal information </strong>
    </p>
    <p>
        Your information is securely stored.
    </p>
    <p>
        We keep all personal information whilst your account is active. We will
        then dispose of your information when a request is made to remove your
        account or after 2 years of inactivity. Upon removal of your
        personal data, your reaction data will be retained and anonymised.
    </p>
    <p>
        <strong>Your data protection rights</strong>
    </p>
    <p>
        Under data protection law, you have rights including:
    </p>
    <p>
        <strong>Your right of access</strong>
        - You have the right to ask us for copies of your personal information.
        Upon creating your account, you gain access to view your personal
        information at any time through AI4Green Account Management.
    </p>
    <p>
        <strong>Your right to rectification</strong>
        - You have the right to ask us to rectify personal information you think is
        inaccurate. You also have the right to ask us to complete information you
        think is incomplete. Upon creating your account, you gain access to edit
        your personal information at any time through AI4Green Account Management.
    </p>
    <p>
        <strong>Your right to erasure</strong>
        - You have the right to ask us to erase your personal information in
        certain circumstances. Upon creating your account, you gain access to
        request your account deletion at any time through AI4Green Account
        Management.
    </p>
    <p>
        <strong>Your right to restriction of processing</strong>
        - You have the right to ask us to restrict the processing of your personal
        information in certain circumstances.
    </p>
    <p>
        <strong>Your right to object to processing</strong>
        - You have the the right to object to the processing of your personal
        information in certain circumstances.
    </p>
    <p>
        <strong>Your right to data portability</strong>
        - You have the right to ask that we transfer the personal information you
        gave us to another organisation, or to you, in certain circumstances.
    </p>
    <p>
        You are not required to pay any charge for exercising your rights. If you
        make a request, we have one month to respond to you.
    </p>
    <p>
        Please contact us at <a href="mailto:admin@ai4green.app">admin@ai4green.app</a> if you wish to make a request.
    </p>
    <p>
        We may change this Privacy Policy from time to time, so it is advisable to
        review it frequently. Changes to this Privacy Policy will be announced on
        the AI4Green Website, all amended terms shall automatically be effective
        [7] days after announcement.
    </p>
    <p>
        <strong>Cookies</strong>
    </p>
    <p>
        This website uses first-party cookies to optimise the user experience by
        tracking sessions and remembering user information and preferences.
        <strong>
            <br clear="all"/>
        </strong>
    </p>
    <p>
        <strong>How to complain</strong>
    </p>
    <p>
        If you have any concerns about our use of your personal information, you
        can make a complaint to us at <a href="mailto:admin@ai4green.app">admin@ai4green.app</a>.
    </p>
    <p>
        You can also complain to the ICO if you are unhappy with how we have used
        your data.
    </p>
    <p>
        The ICO’s address: Information Commissioner’s Office, Wycliffe House, Water
        Lane, Wilmslow, Cheshire, SK9 5AF
    </p>
    <p>
        Helpline number: 0303 123 1113
    </p>
    <p>
        ICO website: <a href="https://www.ico.org.uk/">https://www.ico.org.uk</a>
    </p>

</div>
{% endblock %}