{% extends "base.html" %}
{% block content %}
<head>
    <title>React Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reaction_set.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_set.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="controls">
            <label for="grid-size">Select Grid Size:</label>
            <select id="grid-size" onchange="createGrid()">
                <option value="8x12">8 x 12 (96 wells)</option>
                <option value="6x8">6 x 8 (48 wells)</option>
                <option value="4x6">4 x 6 (24 wells)</option>
            </select>
        </div>
        <div class="container-fluid">
            <div id="grid-wrapper" class="outer-rectangle">
                <div id="grid" class="grid-container"></div>
            </div>
        </div>
    </div>
    <div id="side-panel" class="side-panel">
        <div class="reaction-header">Reaction Constructor</div>
        <p>This is a placeholder for the reaction constructor.</p>
        <p>Details about the selected well will be displayed here.</p>
    </div>
</body>
{% endblock %}