{% extends "base.html" %}
{% block content %}
<head>
    <title>React Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reaction_set.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/sketcher/integrated_marvin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sketcher/integrated_ketcher.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sketcher/sketcher.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_set.js') }}"></script>
</head>
<body>
   <div class="container-fluid">
       <div class="row">
            <div class="col-12">
                <h1>Reaction Set Title Here</h1>
            </div>
       </div>

       <div class="row">
           <div class="col-5">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid">
                        <br>
                        <div class="controls">
                            <!-- Combined Selectors on One Line -->
                            <div class="row align-items-center">
                                <!-- Reactor Type Selector -->
                                <div class="col-4">
                                    <label for="reactor-type" class="me-2">Reactor type: </label>
                                    <select id="reactor-type" class="form-select form-select-sm me-3" onchange="updateReactorType()">
                                        <option value="well-plate">Well plate</option>
                                        <option value="carousel">Carousel</option>
                                    </select>
                                </div>

                                <!-- Multiwell Selectors -->
                                <div id="wellplate-selector" class="col-8">
                                    <!-- Row and Column Selectors next to each other -->
                                        <div class="row">
                                            <div class="col-auto">
                                                <label for="column-size" class="me-2">Number of columns: </label>
                                                <select id="column-size" class="form-select form-select-sm me-2" onchange="createGrid()">
                                                    {% for i in range(1, 11) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="col-auto">
                                                <label for="row-size" class="me-2">Number of rows: </label>
                                                <select id="row-size" class="form-select form-select-sm me-3" onchange="createGrid()">
                                                    {% for i in range(1, 11) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                </div>
                                 <!-- Carousel Selector -->
                                    <div class="col-auto" id="carousel-selector" style="display: none;">
                                        <label for="carousel-reactions" class="me-2">Number of wells: </label>
                                        <select id="carousel-reactions" class="form-select form-select-sm" onchange="createCarousel()">
                                            {% for i in range(1, 20) %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Reactors Section -->
                        <div id="wellplate-container" style="display: block;">
                            <div id="plate-reactor" class="container-fluid">
                                <div id="grid-wrapper" class="outer-rectangle">
                                    <div id="grid" class="plate-reactor"></div>
                                </div>
                            </div>
                        </div>

                        <div id="carousel-container" style="display: none;">
                            <div id="carousel-wrapper" class="carousel-wrapper">
                                <div id="outer-circle" class="outer-circle">
                                    <div id="carousel" class="carousel-reactor"></div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
       </div>
       <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" role="tab" data-toggle="tab" href="#setup" aria-selected="true">Set up</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" role="tab" data-toggle="tab" href="#results" aria-selected="false">Results</a>
                      </li>
                    <li class="nav-item">
                          <a class="nav-link" role="tab" data-toggle="tab" href="#export" aria-selected="false">Export?</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="setup" role="tabpanel" style="overflow-y:auto;">
                            <div id="sketchers-div" style="max-width: 100%; width: 100%;">
                                 <div>
                                    Selected Reaction Sketcher:
                                    <label> MarvinJS
                                        <input type="radio" id="marvin-select" name="sketcher-select" disabled>
                                    </label>
                                    <label> Ketcher
                                        <input type="radio" id="ketcher-select" name="sketcher-select" checked="checked" disabled>
                                    </label>
                                </div>

                                <div class="loading-circle"></div>
                                <div id="ketcher-sketcher" style="max-width: 100%; width: 100%;"></div>
                                <div id="marvin-sketcher" style="max-width: 100%; width: 100%;"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-2">
                                        <p><button id="apply-to-well" type="button" class="btn btn-success" style="width: 100%;" onclick="applyToWellModal()">Apply to Well</button></p>
                                        </div>
                                        <div class="col-2">
                                            <p><button id="apply-to-all" type="button" class="btn btn-success" style="width: 100%;">Apply to All</button></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="results" class="tab-pane fade in" role="tabpanel" style="overflow-y:auto; max-height:550px">
                            <div id="placeholder"><br><b>fancy graphs, maybe interactive stuff?</b></div>
                        </div>

                        <div id="export" class="tab-pane fade in" role="tabpanel" style="overflow-y:auto; max-height:550px">
                            <br>
                            <div id="no-graphs"><b>maybe users can export these reactions in various formats</b>
                            </div>
                            <div class="scrollClass" id="saved-graph-list">
                                <div id="graph-details"></div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
       </div>
   </div>
   </div>


    <!-- Add-to-well modal -->
    <div class="modal fade" id="apply-to-well-modal" tabindex="-1" role="dialog" aria-labelledby="new-reaction-modal-title">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="new-reaction-modal-title">Select Wells</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="add-to-well-body">
              <div id="add-to-well-reactor-container" class="modal-container">
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="new-reaction-data-close">Cancel</button>
            <button type="button" class="btn btn-success" id="new-reaction-data-submit" onclick="newReactionCreate()">Create</button>

          </div>
        </div>
      </div>
    </div>


</body>
{% endblock %}
