{% extends "base.html" %}

{% block content %}
>
<div class="container text-center">
    <h2>Reset Your Password</h2>
    <div class="form-outline mb-4" style="margin: auto; width: 50%">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.password }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" style="margin: auto; width: 50%" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {{ form.password2 }}<br>
            {% for error in form.password2.errors %}
                <div class="alert alert-danger" style="margin: auto; width: 50%" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {{ form.submit() }}
        </form>
    </div>
</div>
{% endblock %}