{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h2>About Retrosynthesis</h2>
    <div class="row">
        <div class="col-12">
            <p>
                <a class="btn btn-primary" href="{{ url_for('retrosynthesis.retrosynthesis') }}">
                    &#10096; Return to Retrosynthesis
                </a>
            </p>
            <p>
                The retrosynthesis service has two core components: the search configuration and the reaction conditions.
            </p>
        </div>
    </div>
    <h4>Getting Started</h4>
    <div class="row">
        <div class="col-12">
            <p>
                To begin a retrosynthesis, you must enter a valid SMILES string for your target molecule into the 'SMILES' box. For a standard search of 100 iterations in 60 seconds, click 'New Retrosynthesis'.
                Your results will follow shortly after. You can view the suggested synthetic routes from the 'Route' dropdown. The results can be saved to your current workbook by using the 'Save to Workbook' option.
            </p>
        </div>
        <div class="text-center">
            <img src="{{ url_for('static', filename='img/retro_help_guide.png') }}" alt="Retro Startup Guide" class="img-fluid" style="max-width: 1100px;">
        </div>
    </div>
    <br>
    <h4>Configuration Options</h4>
    <div class="row">
        <div class="col-12">
            <p>
                The user has several options to configure the search towards their specific needs:
            </p>
            <ol>
                <li><b>Number of iterations:</b> More iterations of the algorithm provides a more comprehensive search, but requires more time.</li>
                <li><b>Search time:</b> One can specify the maximum run-time (in seconds) to suit one's requirements.</li>
                <li><b>Max depth:</b> The max depth allows the user to control the maximum number of reaction steps for the suggested routes.</li>
                <li><b>Enhancement type:</b> Different enhancements to the core algorithm can change the performance. One can select from 4 enhancement options:
                    <ul>
                        <li><b>Default:</b> The default retrosynthesis method.</li>
                        <li><b>Enhanced Search:</b> Uses the eUCT enhancement to adapt the style of search based-on how close the search is to termination.</li>
                        <li><b>Enhanced Speed:</b> Uses the dUCT-v1 enhancement to focus on performing faster iterations, allowing more iterations in a given time limit.</li>
                        <li><b>Enhanced Solve Rate:</b> Uses the dUCT-v2 enhancement to focus on solving more complex molecules.</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
    <br>
    <h4>Reactions and Conditions</h4>
    <div class="row">
        <div class="col-12">
            <p>
                Once your retrosynthesis is complete, you can view the produced routes in the 'Route' dropdown. On the left hand side
                you will find some information regarding the reaction conditions. One must select a molecule from the interactive display to view its conditions.
                The 'Compounds' tab will provide information on the selected molecule. The 'Reactions' tab will provide the conditions for the reactions
                to the selected molecule. You will receive predicted conditions for the following metrics:
            </p>
            <ul>
                <li><b>Temperature</b></li>
                <li><b>Solvent</b></li>
                <li><b>Reagents</b></li>
                <li><b>Stoichiometry/Catalyst</b></li>
                <li><b>Element Sustainability</b></li>
                <li><b>Atom Economy</b></li>
                <li><b>Safety</b></li>
            </ul>
            <p>
                The route tab displays an overview of the sustainability of each reaction step for each metric.
                This is also where the sliders are to adjust the weightings of the metrics which updates the
                weighted median used to colour reactions and routes.
                When calculating the sustainability metrics, we assume 1.0 equivalent of reagents and 0.05
                equivalents of catalyst are used.
            </p>
            <br>
            <p>
                For more information, please see our
                <a href="{{ url_for('main.info') }}">AI4Green User Guide.</a>
            </p>
        </div>
        </div>
    </div>
<div>
    <br>
    <b>References:</b>
    <p>
        Retrosynthetic routes predicted with: AiZynthFinder: a fast, robust and flexible open-source software for
        retrosynthetic planning.
        <i>J. Cheminform.</i>, 2020, <b>12</b>, 70 (2020).
    </p>
    <p>
        Reaction conditions predicted with: Using Machine Learning To Predict Suitable Conditions for Organic
        Reactions.
        <i>ACS Cent. Sci.</i>, 2018, <b>4</b>, 11, 1465–1476.
    </p>
<br>
<br>
</div>
{% endblock %}
