{% extends "base.html" %}
{% block content %}
<body>

<div class="container">
    <h2>Update Email or Password</h2>
    <br>
    <p><b>Current email:</b></p>
    <p>{{ email }}</p>
    <form action="" method="post">
        <button class="btn btn-primary" id="ChangeEmail" value='Value1' name="ChangeEmail">Change Email</button>
    </form>
    <form action="" method="post">
        <button class="btn btn-primary" id="ChangePassword" value='Value2' name="UpdatePassword">Update Password</button>
    </form>
</div>
</body>
{% endblock %}