{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/standard_user.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_reaction.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_list.js') }}"></script>
    <script>
        $(document).ready(function() {
            // when page loads get the reactions
            updateSelectedWorkbook()
        })
    </script>
</head>
<body>
    <div class="container">
        <h2>{{ workgroup_selected }}</h2>
        {% if approval_status == false %} <h6 style="color: red">Workgroup Pending Moderation</h6> {% endif %}
        <br>
        <div class="row">
            <div class="col">
                {% if user_type == 'standard_member' %}
                <p><b>User Type: Standard Member</b></p>
                    <p><a href="{{ url_for('main.index') }}" id="change-workgroup" class="btn btn-success">Change Workgroup</a></p>
                    <p><a href="/PI_status_request/Standard%20Member/Principal%20Investigator/{{ workgroup_selected }}" id="PI-status-request" class="btn btn-primary">Request PI Status</a></p>
                    <p><a href="/PI_status_request/Standard%20Member/Senior%20Researcher/{{ workgroup_selected }}" id="SR-status-request" class="btn btn-primary">Request Senior Researcher Status</a></p>
                    <p><a href="{{ url_for('manage_workbook.join_workbook', workgroup=workgroup_selected) }}" id="join-workbook" class="btn btn-primary">Join Workbook</a></p>
                {% elif user_type == 'principal_investigator' %}
                <p><b>User Type: Principal Investigator</b></p>
                    <p><a href="{{ url_for('main.index') }}" id="change-workgroup" class="btn btn-success">Change Workgroup</a></p>
                    <p><a href="{{ url_for('manage_workgroup.manage_workgroup', workgroup=workgroup_selected) }}" id="manage-workgroup" class="btn btn-primary">Manage Workgroup</a></p>
                    <p><a href="{{ url_for('manage_workbook.manage_workbook', workgroup=workgroup_selected) }}" id="manage-workbook" class="btn btn-primary">Manage Workbooks</a></p>
                {% elif user_type == 'senior_researcher' %}
                <p><b>User Type: Senior Researcher</b></p>
                    <p><a href="{{ url_for('main.index') }}" id="change-workgroup" class="btn btn-success">Change Workgroup</a></p>
                    <p><a href="/PI_status_request/Senior%20Researcher/Principal%20Investigator/{{ workgroup_selected }}" id="PI-status-request" class="btn btn-primary">Request PI Status</a></p>
                    <p><a href="{{ url_for('manage_workbook.manage_workbook', workgroup=workgroup_selected) }}" id="manage-workbook" class="btn btn-primary">Manage Workbooks</a></p>
                {% endif %}
            </div>
            <div class="col">
                <p><b>Choose a Workbook to view or create reactions</b></p>
                    <select name="workbook-select" id="active-workbook" class="form-select" onchange="updateSelectedWorkbook()">
                        {% if workbooks == "no_workbooks" %}
                            <option value="No Workbooks to Show" selected>No Workbooks to Show</option>
                        {% else %}
                            {% for workbook in workbooks %}
                                {% if workbook.name == workbook_selected %}
                                    <option value="{{ workbook.name }}" selected="selected">{{ workbook.name }}</option>
                                {% else %}
                                    <option value="{{ workbook.name }}">{{ workbook.name }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                {% if workbooks == "no_workbooks" and (user_type == "principal_investigator" or user_type == 'senior_researcher') %}
                    <br><br>
                    <p><a href="{{ url_for('create_workbook.create_workbook', workgroup=workgroup_selected) }}" id="new-workbook" class="btn btn-primary">+ Create Workbook</a></p>
                {% endif %}
                <div id="reaction-column" style="display: none;">
                    <br>
                    <p><button onclick=newReactionModalWindow() id="new-reaction" class="btn btn-primary"  data-toggle="modal" data-target="#new-reaction-modal" title="Create New Reaction">+ New Reaction</button></p>
                </div>
            </div>
            <div class="col">
                <div id="reaction-content" style="display: none;">
                    <h3>Your Saved Reactions</h3>
                    <div id="no-reactions" style="display: none;"><h4>No Reactions to Show</h4></div>
                    <div class="scrollClass">
                        <div id="reaction-details">
                        </div>
                    </div>
                </div>
                <br>
                <div id="export-div" style="display: block;">
                    <h3>Export Reaction Data</h3>
                    <button id="export-csv" class="btn btn-primary" onclick="getcsv()">Export as CSV</button>
                    <button id="export-pdf" class="btn btn-primary" onclick="getpdf()">Export to Print/PDF</button>
                    <br><br>
                    <p>Please note that not all data will be exported for reactions last updated before version 1.5.</p>
                </div>
            </div>
        </div>
    </div>

    <input id="active-workgroup" type="hidden" value="{{ workgroup_selected }}" >
    <input type="hidden" value="{{ sort_crit }}" id="js-sort-crit">
    <input id="workbook_corresponding_next_reaction_ids" type="hidden" value="{{ workbook_next_reaction_ids }}">

    <!-- new reaction modal -->
    <div class="modal fade" id="new-reaction-modal" tabindex="-1" role="dialog" aria-labelledby="new-reaction-modal-title">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="new-reaction-modal-title">New Reaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="new-reaction-body">
              <div id="new-reaction-inner-body">
                  <br>
                  <form>
                      <label class="new-reaction-label">
                          Reaction ID
                          <input id="new-reaction-id" disabled value="{{ new_reaction_id }}" class="new-reaction-input">
                      </label>
                      <label class="new-reaction-label">
                          Reaction Name
                          <input id="new-reaction-name" type="text" class="new-reaction-input">
                      </label>
                  </form>
                  <div style="padding-left: 5px; color: red" id="error-warning-new-reaction"></div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="new-reaction-data-close">Cancel</button>
            <button type="button" class="btn btn-success" id="new-reaction-data-submit" onclick="newReactionCreate()">Create</button>
          </div>
        </div>
      </div>
    </div>

</body>

{% endblock %}
