#container {
    width:960px;
    margin:20px auto;
}

#content {
    float:left;
    width:340px;
}

#sidebar {
    float:left;
    width:340px;
}

.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 100px;
  cursor: pointer;
  width: 250px;
  display: block;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

td {

    padding: 15px;
}

