body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 6.25rem;
}

#content {
    margin-top: 6rem;
}

.jumbotron {
    margin-top: -2.5rem;
}

:root {
--primary-green: #82F5A8;
--primary-green-hover: #62BA79;
--primary-grey: #777778;
--primary-grey-hover: #686868;
--secondary-green: #62BA79;
--icon-background: #caf7e3;
--primary-blue: #83F5F2;
--primary-blue-hover: #63B1B9;
--primary-red: #F58683;
--primary-red-hover: #BB6A61;
}

.jumbotron.jumbotron-fluid.home {
  margin-top: -2.5rem;
  /*background: linear-gradient(90deg, color: var(--primary-grey 50%), color: var(--primary-green))*/
  background: linear-gradient(90deg, var(--primary-grey) 50%, var(--primary-green));

}

/*div.bg.landing.grey {*/
/*    background: rgba(119, 119, 120, 0.8);*/
/*}*/
.bg-faded-green {
    background: linear-gradient(rgba(130, 245, 168, 0.1), rgba(130, 245, 168, 0.2));
}

.bg-faded-grey {
    background: linear-gradient(rgba(119, 119, 120, 0.1), rgba(119, 119, 120, 0.2));
}

.bg-grey {
    background: var(--primary-grey);
}

.bg-green {
    background: var(--primary-green);
}
.text-primary-green {
    color: var(--primary-green);
}

.text-secondary-green {
    color: var(--secondary-green);
}

.text-grey {
    color: var(--primary-grey);
}

.text-blue {
    color: var(--primary-blue);
}

.btn.icon {
    height: 70px;
    width: 70px;
    background-color: var(--icon-background);
    border-color: var(--icon-background);
    border-radius: 35px;
    text-align: center;
    margin: 7px;
    line-height: 80px;
    color: var(--primary-grey);
    transition: all 0.3s linear;
    font-size: 40;
}

.icon:hover {
  background-color: var(--primary-grey);
  border-color: var(--primary-grey);
  color: var(--primary-green);
  transform: scale(1.1);
}

.icon.focused {
  background-color: var(--primary-grey);
  border-color: var(--primary-green);
  border-width: 3;
  color: var(--primary-green);
  transform: scale(1.1);
}


.btn.btn-primary {
  background-color: var(--primary-grey);
  border-color: var(--primary-grey);
  color: var(--primary-green);
}

.btn.btn-primary:hover {
  background-color: var(--primary-grey-hover);
  border-color: var(--primary-grey-hover);
}

.btn.btn-outline-primary {
  border-color: var(--primary-grey);
  color: var(--primary-grey);
}

.btn.btn-outline-primary:hover {
  color: var(--primary-grey);
  background-color: var(--primary-green);
}

.btn.btn-secondary {
  background-color: var(--primary-green);
  border-color: var(--primary-green);
  color: var(--primary-grey);
}

.btn.btn-secondary:hover {
  background-color: var(--primary-green-hover);
  border-color: var(--primary-green-hover);
}

.btn.btn-success {
    background-color: var(--primary-green);
  border-color: var(--primary-green);
  color: var(--primary-grey);
}

.btn.btn-success:hover {
  background-color: var(--primary-green-hover);
  border-color: var(--primary-green-hover);
  color: white
}

.btn.btn-info {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
  color: var(--primary-grey);
}

.btn.btn-info:hover {
  background-color: var(--primary-blue-hover);
  border-color: var(--primary-blue-hover);
  color: white
}

.btn.btn-danger{
    background-color: var(--primary-red);
    border-color: var(--primary-red);
    color: var(--primary-grey);
}

.btn.btn-danger:hover {
  background-color: var(--primary-red-hover);
  border-color: var(--primary-red-hover);
  color: white
}

#retrosynthesis-cytoscape {
  border-color: #333333;
  border-width: thick;
  border-style: dashed;
}

.btn-toolbar .btn-label {
  float: left;
}


