@media print {
  body * {
    visibility: hidden;
  }
  #print-container * {
    visibility: visible;
  }
  #print-container {
    position: absolute;
    left: 0;
    top: 0;
  }
}

tr {
  page-break-inside: avoid;
}

#outer-print-div {
  border: 1px solid #000;
  padding: 10px;
}
