.readonly-cell {
    background-color: transparent;
    border: none;
}

.editable-cell {
    background-color: white;
    border-color: black;
    border-width: thin;
}

.remove-highlight-summary-cell {
    border-color: transparent;
    border-width: thin;
}

.remove-highlight-filled-cell {
    border-color: black;
    border-width: thin;
    background-color: white;
}

.add-highlight-unfilled-cell {
    border-color: red;
    border-width: medium;
}


#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

#loading-message {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  /*color: #00ff00; !* Change this color value *!*/
  text-align: center;
}

#summary-loading-icon {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 60px; /* Adjust the size based on your preference */
  /*color: #008000; !* Green color for the flask icon *!*/
    color: #82f5a8;
    animation: spin2 1s linear infinite;
-webkit-text-stroke: 2px #7c7d7c;/* White border around the flask icon */
}

@keyframes spin2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading-message {
    white-space: pre-line;
}