.plate-reactor {
    display: grid;
    gap: 5px;
    justify-content: center;
    border: 2px solid black;
    /*padding: 10px;*/
    margin-top: 20px;
    position: relative;
}

.outer-rectangle {
    border: 4px solid black;
    padding: 10px;
    margin: 10px;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px; /* Ensure it's the same size as outer-circle */
    height: 500px; /* Ensure it's the same size as outer-circle */
}

.outer-circle {
    border: 4px solid black;
    border-radius: 50%;
    position: absolute; /* Absolute positioning relative to wrapper */
    width: 500px; /* Fixed width for the circular container */
    height: 500px; /* Fixed height for the circular container */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.carousel-reactor {
    position: absolute; /* Absolute positioning relative to outer-circle */
    width: 400px; /* Fixed width for the inner circular container */
    height: 400px; /* Fixed height for the inner circular container */
    border-radius: 50%; /* Makes the container circular */
    background-color: #f9f9f9; /* Optional: Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
}


.tooltip {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 4px;
    display: none;
    white-space: nowrap;
}

.grid-circle:hover .tooltip {
    display: block;
}

.side-panel {
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    display: none;
}

.side-panel.active {
    display: block;
}

.reaction-header {
    font-weight: bold;
    margin-bottom: 10px;
}
