.line {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
}

.line-news {
    height: 2px;
    border-width: 0;
    color: black;
    background-color: black;
}

.scrollClass {
  height:400px;
  overflow-y: scroll;
}
