{% extends "base.html" %}
{% block title %}Login to AI4Green{% endblock %}
{% block content %}

<div class="container text-center">
<h2>Sign In</h2><br>
<div class="form-outline mb-4" style="margin: auto; width: 50%">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(id="username", aria_describedby="username-error", autocomplete="username") }}<br>
        {% for error in form.username.errors %}
            <div id="username-error" class="alert alert-danger" style="margin: auto; width: 70%" aria-live="polite">
                {{ error }}
            </div>
        <br>
        {% endfor %}
        {{ form.password.label(class="form-label") }}
        {{ form.password(id="password", aria_describedby="password-error", autocomplete="current-password") }}<br>
        {% for error in form.password.errors %}
            <div id="password-error" class="alert alert-danger" style="margin: auto; width: 70%" aria-live="polite">
                {{ error }}
            </div>
        <br>
        {% endfor %}
        {{ form.remember_me() }} {{ form.remember_me.label }}<br>
        {{ form.submit() }}<br>
{#        <a class="btn btn-link" id="sso" href="{{ url_for('auth.oidc_login') }}">Use Single Sign-on</a>#}
    </form>
</div>
    New User? <a id="register" class="btn btn-link" href="{{ url_for('auth.register') }}">Click to Register!</a><br>
    Forgotten Your Password? <a class="btn btn-link" id="reset-password" href="{{ url_for('reset_password.reset_password_request') }}">Click to Reset!</a>
</div>
{% endblock %}
