{% block scripts %}
    <script src="https://unpkg.com/html2canvas@1.0.0-alpha.12/dist/npm/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{#    TODO - look at replacing with html3pdf when a CDN url is made available https://github.com/davidnbooth/html3pdf.js#}
   <script type="text/javascript" src="{{ url_for('static', filename='js/summary_table/pdf_summary.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom_colours.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/summary_table/form_summary_table.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/input_novel_compounds.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/reaction_reload.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/reaction_table.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/compound_error_flag.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reaction_constructor.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/autosave.js') }}"></script>
{% endblock %}

{% import "macros/reaction_table_components.html" as reaction_table_components %}

{{ reaction_table_components.reaction_description(reaction, tutorial) }}


{% if reaction.reaction_type == "POLYMER" %}
    {{ reaction_table_components.polymerisation_dropdown(reaction.polymerisation_type) }}
{% else %}
    {{ reaction_table_components.reaction_class_dropdown(reaction_class) }}
{% endif %}


<div style="overflow-x:auto;" class="table-responsive text-nowrap" id="reaction-table-div">
    <br>
    <table class="table table-sm w-auto">

    {{ reaction_table_components.table_headings(units) }}

    {% for reactant in reactants %}
        {{  reaction_table_components.reactant_row(reactant, loop.index) }}
    {% endfor %}

    {#      Reagent/catalyst input  #}
    {{ reaction_table_components.reagent_or_solvent_heading("reagent", units)}}

    {% for reagent in reagents %}
        {{  reaction_table_components.reagent_row(reagent, loop.index) }}
    {% endfor %}

    {{ reaction_table_components.reagent_or_solvent_heading("solvent", units) }}

    {% for solvent in solvents %}
        {{  reaction_table_components.solvent_row(solvent, loop.index) }}
    {% endfor %}

    {{ reaction_table_components.product_headings(units) }}

    {% for product in products %}
        {{  reaction_table_components.product_row(product, loop.index) }}
    {% endfor %}

    {{ reaction_table_components.reaction_params() }}

    {{ reaction_table_components.workup_headings(units) }}

  <tbody>
    <tr>
      <td colspan="11">
        <div class="container-fluid my-3">
          <h5 class="mb-2"><b>Purification Details</b></h5>
          <p class="text-muted" style="font-size: 0.9rem;">
            Define purification procedures.
          </p>
        </div>
      </td>
      <td>
        <button type="button" title="Add purification to reaction" onclick="addPurificationRow()" class="js-add-workup btn btn-success" style="widtd: fit-content;">Add Purification</button>
      </td>
    </tr>
  </tbody>
{#  {{ reaction_table_components.purification_options() }}#}

    <tbody>
    <tr>
      <td colspan="11">
        <div class="container-fluid my-3">
          <h5 class="mb-2"><b>Reaction Outputs</b></h5>
          <p class="text-muted" style="font-size: 0.9rem;">
            Define measured outputs for this reaction.
          </p>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-success" onclick="addNewResponse()">+ Add Response</button>
      </td>
    </tr>
  </tbody>

    {{ reaction_table_components.response_headings() }}

  </table>
</div>


{# Numbers #}
<input type="hidden" value="{{ number_of_solvents }}" id="js-number-of-solvents">

<input type="hidden" value="{{ number_of_reagents }}" id="js-number-of-reagents">

<input type="hidden" value="{{ number_of_reactants }}" id="js-number-of-reactants">

<input type="hidden" value="{{ number_of_products }}" id="js-number-of-products">

<input type="hidden" value="{{ number_of_workups }}" id="js-number-of-workups">

<input type="hidden" value="{{ number_of_purifications }}" id="js-number-of-purifications">

<input type="hidden" value="{{ number_of_responses }}" id="js-number-of-responses">

<input type="hidden" value="1" id="js-limiting-reactant-table-number">

<input type="hidden" value="1" id="js-main-product-table-number">

<input type="hidden" value="{{ identifiers }}" id="js-reagent-identifiers">

<input type="hidden" value="0" id="js-reaction-image-source">

<input type="hidden" value="0" id="js-number-of-responses">

<datalist role="listbox" size=1 list="" id="js-solvent-datalist" class="solvent-datalist">
    {% for sol in sol_rows %}
      <option value="{{ sol.name }}" class='datalistOption {% if sol.flag == 1 %}hazard-highly-hazardous{% elif sol.flag == 2 %}hazard-hazardous{% elif sol.flag == 3 %}hazard-warning{% elif sol.flag == 4 %}hazard-acceptable{% else %}hazard-reset-hazard{% endif %}'>{{ sol.name }}</option>
    {% endfor %}
</datalist>

<table hidden id="js-reagent-table-new-row">
    {{ reaction_table_components.reagent_row(None, "-x-") }}
</table>


<table hidden id="js-solvent-table-new-row">
    {{ reaction_table_components.solvent_row(None, "-x-") }}
</table>

{# new rows here#}
<table hidden id="js-workup-table-new-row">
    {{ reaction_table_components.workup_row(None, "-x-") }}
</table>

<table hidden id="js-response-table-new-row">
    {{ reaction_table_components.response_row(None, "-x-") }}
</table>


{{ reaction_table_components.report_compound_modal() }}

{{ reaction_table_components.reaction_note_modal() }}
