{% extends "base.html" %}
{% block content %}
<head>
    <title>{{ reaction.reaction_id }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/printstyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tutorial.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reaction_constructor.css') }}">
    {% import "macros/tutorial.html" as tut %}
</head>

<div id="page-contents" class="container-fluid">
    <input type="hidden" id="js-load-status" value="{{ load_status }}">
    <div id="name-id" class="reaction-header">

          <h2 class="d-flex align-items-center gap-2 mb-1" style="gap: 0.75rem;">
            <span class="badge reaction-badge">
                {{ reaction.reaction_id }}
            </span>

            <span>
                {{ reaction.name }}
                <a
                    id="tutorial-mode"
                    href="/sketcher_tutorial/yes"
                    class="btn btn-light rounded-circle shadow-sm"
                    target="_blank"
                    title="Sketcher tutorial"
                >
                    <i class="bi-magic"></i>
                </a>
            </span>

            {% if tutorial == 'no' %}
              {% if reaction.creator_person.user.email != current_user.email %}
                <i class="fa fa-lock" style="font-size:18px; color:darkgrey;"></i>
              {% endif %}
            {% endif %}
          </h2>
    </div>

{#    Need some help getting started?#}
{#    <br>#}
{#    <input type="hidden" id="js-load-status" value="{{ load_status }}">#}
{#    <a id="tutorial-mode" href="/sketcher_tutorial/yes" class="btn btn-success btn-sm" style="color: white;" target="_blank">Enter Tutorial Mode <i class="bi bi-box-arrow-in-up-right"></i></a>#}
{#    <br><br>#}
{#    <div id="editor-instructions">#}
{#<!--        <p>Please sketch or upload your reaction to begin. Click <a target="_blank" href="{{ url_for('main.marvin_js_help') }}">here</a> to view our Marvin JS help guide.</p>-->#}
{#        <p>Please note compounds drawn above or underneath the arrow will not be recognised.</p>#}
{#    </div>#}
{#        <div>#}
{#                <label> Polymer Mode?#}
{#                    <input type="checkbox" id="polymer-mode-select" name="polymer-mode-select" onchange="savePolymerMode()" {% if reaction.reaction_type.value == "POLYMER" %} checked {% endif %}>#}
{#                </label>#}
{#        </div>#}
        <div id="sketchers-div">
            <div>
    <!--            Selected Reaction Sketcher:-->
    <!--            <label> MarvinJS-->
    <!--                <input type="radio" id="marvin-select" name="sketcher-select" disabled>-->
    <!--            </label>-->
                <label> Ketcher
                    <input type="radio" id="ketcher-select" name="sketcher-select" checked="checked" disabled>
                </label>
            </div>
            <div class="loading-circle"></div>
            <div id="ketcher-sketcher"></div>
            <div id="marvin-sketcher" style="width: 1020px; height: 480px"></div>
        </div>
{#        <div id="editor-hint">#}
{#            <p>Hint: You can copy & paste reaction schemes from ChemDraw by selecting the scheme and use CTRL + ALT + C to copy#}
{#            and then CTRL + V to paste into this sketcher</p>#}
{#        </div>#}


    <input type="hidden" id="js-tutorial" value="{{ tutorial }}">
    <input type="hidden" id="js-reaction-name" value="{{ reaction.name }}">
    <input type="hidden" id="js-reaction-id" value="{{ reaction.reaction_id }}">
    <input type="hidden" id="js-time-of-creation" value="{{ reaction.time_of_creation }}">
    <input type="hidden" id="js-reaction-object" value="{{ reaction }}">
    <input type="hidden" id="js-reaction-smiles" value="{{ reaction.reaction_smiles }}">
    <input type="hidden" id="js-reaction-type" value="{{ reaction.reaction_type }}">
    <input type="hidden" id="js-reaction-rxn" value="{{ reaction.reaction_rxn }}">
    <input type="hidden" value="{{ reaction.reaction_table_data }}" id="js-reaction-table-data">
    <input type="hidden" value="{{ reaction.summary_table_data }}" id="js-summary-table-data">
    <input type="hidden" id="js-reloaded-image" value="0" style="{'width': 600, 'height': 400}">
    <input type="hidden" value="{{ demo }}" id="js-demo">
    <input type="hidden" value="{{ reaction.complete }}" id="js-complete">
    <input type="hidden" value="{{ marvin_js_key }}" id="marvin-js-key">
    <input type="hidden" value="{{ url_for('static', filename='ketcher/index.html') }}" id="ketcher-source">

    {% if tutorial == 'no' %}
        <input type="hidden" value="{{ reaction.creator_person.user.email }}" id="js-creator-email">
        <input type="hidden" value="{{ current_user.email }}" id="js-email">
    {% endif %}
    <br>
    <p><button id="demo-button" type="button" class="btn btn-primary" style="width: 100px;" onclick="loadExampleSmiles()">Example</button>
{#    <p><button id="action-button-submit" type="button" class="btn btn-primary" onclick="createReactionTable()">Submit</button></p>#}
    <a>
        <button id="retrosynthesis-export" type="button" class="btn btn-primary" onclick="exportDataToRetrosynthesis()">Retrosynthesis</button>
    </a>
        </p>

    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

    <div id="reaction-table" style="position: relative; min-height: 200px">
        <!--The loading bar div-->
        <div class="loading-bar"></div>
        <!--Output of reaction table-->
        <div id="reaction-table-div">
        </div>
    </div>
    <br>
    <p id="summary-div"><input type="submit" value="Summary" id="action-summary" class="btn btn-primary" onclick="showSummary()" style="display: none; width: 100px;"></p>


    <!--Output of reaction image and summary table-->


    <div id="print-container" class="container-fluid" style="padding-left: 0px">
        <div id="imageContainer" style="display: none;">
            <img id="image" />
        </div>
        <p id="js-summary-table"></p>
    </div>
<!--    end of page buttons-->
    <br>


    <div id="reaction-file-attachments" class="mb-2" style="display:none;">
        <p>Upload Experimental Data</p>
        <div id="file-upload-div" class="input-group mb-3 w-25">
            <input id="upload-files" class="form-control" type="file" multiple>
            <div class="input-group-append">
                <button id="file-upload" class="btn btn-outline-secondary" onclick="uploadFiles()" type="button">Upload</button>
            </div>
        </div>
        <div id="file-list">
{#            file attachments loaded here from get_file_attachment_list#}
        </div>
    </div>


    <div id="complete-reaction-div" style="display:none;">
        <button id="complete-reaction-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#lockingModal">Lock & Sign Reaction</button>
        <!-- Modal -->
        <div id="lockingModal" class="modal fade">
          <div class="modal-dialog" style="top: 30%">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <p>I provide my signature and confirm that to the best of my knowledge the contents of this reaction are accurate.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="completeReaction()">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>





        {% if reaction.complete == 'complete' %}
            <b>Reaction locked by {{ reaction.creator_person.user.fullname }} at: {{ (reaction.time_of_update|string)[:-7]  }}</b>
        {% endif %}
    </div>


    <br>
    <button id="print-pdf" onclick="window.print()" class="btn btn-primary" style="display: none; width:140px">Print Summary</button>
    <div class="notToPrint" id="printoutput"></div>
    <br>
    <button id="reaction-note-button" data-toggle="modal" data-target="#new-reaction-note-modal" class="btn btn-primary">Add Note</button>
<!--    addenda-->
    <br>

    <div id="addenda-content" class="row d-flex justify-content-left">
        <div class="col-md-8 col-lg-6 mt-5">
            <div id="addenda-cardholder" class="card shadow-0 border" style="background-color: #f0f2f5;">
                {% if addenda %}
                    {% for addendum in addenda %}
                        <div id="addendum-card{{ loop.index }}" class="card mb-4">
                            <div class="card-body">
                                <p id="addendum-text{{ loop.index }}">{{ addendum.text }}</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <p id="addendum-author{{ loop.index }}" class="small mb-0 ms-2 pt-5">{{ addendum.Author.user.fullname }}</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        {% set time = addendum.time_of_creation|string %}
                                        <p id="addendum-time{{ loop.index }}" class="small mb-0 pt-5">{{ time[:-7] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
<!--    end of addenda-->
</div>
<br>
<br>
<!--end of page contents-->
<div id="blank-addendum"  style="display: none">
    <div id="addendum-card-x-" class="card mb-4">
        <div class="card-body">
            <p id="addendum-text-x-"></p>
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <p id="addendum-author-x-" class="small mb-0 ms-2 pt-5"></p>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <p id="addendum-time-x-" class="small mb-0 pt-5"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="blank-file-attachment" style="display: none">

    <div id="file-button-group-x-" class="btn-group btn-group-justified mb-3" role="group" aria-label="">
        <div class="btn-group" role="group">
            <button id="download-file-button-x-" type="button" class="btn btn-outline-primary" onclick="downloadFile(this)" value=""><i class="bi bi-download"></i></button>
        </div>
        <div class="btn-group" role="group">
            <button id="view-file-button-x-" type="button" class="btn btn-outline-dark" onclick="viewFile(this)" value=""></button>
        </div>
        <div class="btn-group" role="group">
            <button id="delete-file-button-x-" type="button" onclick="deleteFile(this)" value="" class="btn btn-outline-danger"><i class="bi bi-x"></i></button>
        </div>
    </div>
</div>

<input type="hidden" value="{{ active_workgroup }}" id="js-active-workgroup">
<input type="hidden" value="{{ active_workbook }}" id="js-active-workbook">

{{  tut.tutorial_macro() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/autosave.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/input_novel_compounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tutorial.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sketcher/sketcher_page.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/addendum.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/reaction_table/file_handling.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/polymer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sketcher/integrated_marvin.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sketcher/integrated_ketcher.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sketcher/sketcher.js') }}"></script>

<script>
// disable complete reaction button once reaction is completed
$(function () {
    if ($("#js-complete").val() === "not complete") {
        $("#mark-complete").attr("disabled", false)
    }
})

</script>

{% endblock %}
